<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contacts.css">
</head>

<body>

    <img src="../img/preview.jpg" alt="" style="display: none;">

    <div class="popup-sencs popup-sencs1 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
        </div>
    </div>

    <div class="popup-sencs popup-sencs2 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
            <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
        </div>
    </div>

    <header>
        <div class="header">
            <div class="container">
                <div class="header-content">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <nav class="menu">
                        <ul>
                            <li><a data-href="#what-included" href="index.html#what-included">О курсе</a></li>
                            <li><a data-href="#why-created" href="index.html#why-created">Методист</a></li>
                            <li><a data-href="#price" href="index.html#price">Стоимость</a></li>
                            <li><a data-href="#reviews" href="index.html#reviews">Отзывы</a></li>
                            <li><a data-href="#fag" href="index.html#fag">Вопрос-ответ</a></li>
                            <li><a data-href="" href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                        </li>
                    </ul>
                    <span class="manu-open">
                    <span></span>
                    </span>
                    <div class="main-menu loading">
                        <span class="main-close"></span>
                        <div class="main-content">
                            <div class="main-header">
                                <div class="logo-content">
                                    <a href="index.html" class="logo">
                                        <img src="../img/logo.png" alt="">
                                        <span>Международная школа пилатеса</span>
                                    </a>
                                </div>
                            </div>
                            <div class="fix-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html"><i class="icon-svg icon-home"></i> Главная</a></li>
                                        <li><a href="index.html"><i class="icon-svg icon-target"></i> Преимущества онлайн обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-customers"></i> Клиентам</a>
                                            <ul>
                                                <li><a href="index.html#what-included">О проекте</a></li>
                                                <li><a href="index.html#why-created">О методисте</a></li>
                                                <li><a href="javascript:void(0)">Как проходит обучение</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#price"><i class="icon-svg icon-packages"></i> Пакеты обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-archive"></i> Архив знаний</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                                <li><a href="javascript:void(0)">Зачем заниматься пилатесом</a></li>
                                                <li><a href="javascript:void(0)">Мифы и реальность в пилатесе</a></li>
                                                <li><a href="javascript:void(0)">Учимся правильно дышать</a></li>
                                            </ul>
                                        </li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-equipment"></i>Оборудование</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#reviews"><i class="icon-svg icon-reviews"></i> Отзывы</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-svg icon-contacts"></i> Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-footer">
                                <a href="fitness-tv.html" class="tv">Фитнес TV</a>
                                <ul class="sosial">
                                    <li>
                                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="sale">
                <a class="sale-link" href="info-sale.html"></a>
                <div class="sale-content">
                    <div class="sale-img">
                        <img src="../img/sale-img.png" alt="">
                        <h5>Акция к новому году! Дарим скидку 10% на обучение</h5>
                    </div>
                    <a href="info-sale.html">Подробнее</a>
                </div>
            </div>
        </div>
    </header>

    <section class="contacts">
        <div class="container">
            <div class="title">
                <h2>КОНТАКТЫ</h2>
            </div>
            <div class="contacts-content">
                <div class="contacts-olga">
                    <img class="olga" src="../img/contacts-olga.jpg" alt="">
                    <h5>СТУДИЯ ПИЛАТЕСА</h5>
                    <p>Ольги Литвиновой</p>
                    <a href="tel:+38(067)808-42-24">+38(067)808-42-24</a>
                    <a href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="collback-content">
                    <h4>Наш центральный офис находитьса в Украине</h4>
                    <div class="map-google">
                        <div class="google map-item">
                            <img src="../img/frame-top.png" alt="" class="frame-top">
                            <img src="../img/frame-right.png" alt="" class="frame-right">
                            <img src="../img/frame-left.png" alt="" class="frame-left">
                            <img src="../img/frame-bottom.png" alt="" class="frame-bottom">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1812.9133461127356!2d36.22904630059371!3d50.01422957816653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a1269bbb8ecd%3A0x9de513c7fb8cc40e!2z0KHQtdGA0L_QvtCy0LDRjyDRg9C7LiwgNCwg0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDYxMDAw!5e0!3m2!1sru!2sua!4v1561030495878!5m2!1sru!2sua"
                            frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-title">
                            <h2>Остались вопросы? Оставьте телефон, </h2>
                            <h3>я свяжусь с вами в Viber/ Whatsapp/ Telegram </h3>
                        </div>
                        <form action="https://docs.google.com/forms/d/e/1FAIpQLSfepCqRTwfpT6kLHR2_GXSRojNEbTyrxBsdrGt1xeR68wwjFQ/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
                            <ul class="clearfix">
                                <li>
                                    <div class="ss-form-question errorbox-good" role="listitem">
                                        <div dir="auto" class="ss-item ss-item-required ss-text">
                                            <!-- <div class="ss-q-title">Введите Ваше имя:</div> -->
                                            <div class="ss-form-dabl">
                                                <input type="text" name="entry.1861266316" placeholder="Введите Ваше имя:" value="" class="ss-q-short" id="entry_1861266316" dir="auto" aria-required="true" required="" pattern=".*.*">
                                                <div class="error-message" id="1674423311_errorMessage"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ss-form-question errorbox-good" role="listitem">
                                        <div dir="auto" class="ss-item ss-item-required ss-text">
                                            <!-- <div class="ss-q-title">Введите Ваш телефон:</div> -->
                                            <div class="ss-form-dabl">
                                                <input type="number" name="entry.1712486044" placeholder="Введите Ваш телефон:" value="" class="ss-q-short" id="entry_1712486044" dir="auto" aria-required="true" required="" step="1">
                                                <div class="error-message" id="2049801488_errorMessage"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ss-form-question errorbox-good" role="listitem">
                                        <div dir="auto" class="ss-item ss-item-required ss-text">
                                            <!-- <div class="ss-q-title_two">Введите Ваш Email </div> -->
                                            <div class="ss-form-entry">
                                                <input type="email" name="entry.1779160369" placeholder="Введите Ваш Email" value="" class="ss-q-short" id="entry_1779160369" dir="auto" aria-required="true" required="">
                                                <div class="error-message" id="1955010105_errorMessage"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="ss-send-email-receipt" dir="ltr">
                                <label for="emailReceipt"></label>
                            </div>
                            <div class=" ss-navigate">
                                <div class="inline_block_ol_lm_end">
                                    <input type="submit" name="submit" value="ОТПРАВИТЬ" id="ss-submit" class="jfk-button jfk-button-action ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/contacts-bg.jpg" alt="" class="contacts-bg">
    </section>

    <section class="contacts-slider">
        <div class="container">
            <a class="google-link" href="javascript:void(0)"> ПРОФИЛЬ КОМПАНИИ В <img src="../img/google.png" alt=""></a>
            <div class="title">
                <h3>МАГАЗИН</h3>
                <p>Ознакомьтесь с нашими образовательными программами</p>
            </div>
            <div class="slider">
                <div class="item">
                    <img src="../img/contacts-slider-img.jpg" alt="">
                    <div class="text">
                        <h5>Воркшоп: Воркшоп: Воркшоп: Воркшоп: Воркшоп:</h5>
                        <p>Восстановление биомеханики дыхания</p>
                        <strong>21,00 USD</strong>
                        <a class="link" href="javascript:void(0)">Приобрести</a>
                        <a class="hover" href="javascript:void(0)"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/contacts-slider-img.jpg" alt="">
                    <div class="text">
                        <h5>Воркшоп:</h5>
                        <p>Восстановление биомеханики дыхания Восстановление биомеханики дыхания</p>
                        <strong>22,00 USD</strong>
                        <a class="link" href="javascript:void(0)">Приобрести</a>
                        <a class="hover" href="javascript:void(0)"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/contacts-slider-img.jpg" alt="">
                    <div class="text">
                        <h5>Воркшоп:</h5>
                        <p>Восстановление биомеханики дыхания</p>
                        <strong>23,00 USD</strong>
                        <a class="link" href="javascript:void(0)">Приобрести</a>
                        <a class="hover" href="javascript:void(0)"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/contacts-slider-img.jpg" alt="">
                    <div class="text">
                        <h5>Воркшоп:</h5>
                        <p>Восстановление биомеханики дыхания</p>
                        <strong>24,00 USD</strong>
                        <a class="link" href="javascript:void(0)">Приобрести</a>
                        <a class="hover" href="javascript:void(0)"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/contacts-slider-img.jpg" alt="">
                    <div class="text">
                        <h5>Воркшоп:</h5>
                        <p>Восстановление биомеханики дыхания</p>
                        <strong>25,00 USD</strong>
                        <a class="link" href="javascript:void(0)">Приобрести</a>
                        <a class="hover" href="javascript:void(0)"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/contacts-slider-img.jpg" alt="">
                    <div class="text">
                        <h5>Воркшоп:</h5>
                        <p>Восстановление биомеханики дыхания</p>
                        <strong>26,00 USD</strong>
                        <a class="link" href="javascript:void(0)">Приобрести</a>
                        <a class="hover" href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
            <div class="slider_count"></div>
        </div>
    </section>

    <div class="question">
        <div class="text">
            <img src="../img/equipment/hello.jpg" alt="">
            <i>Ольга</i>
            <span>Чем я могу вам помочь?</span>
        </div>
        <div class="question-icon">
            <img src="../img/question/questionswg.svg" alt="">
        </div>
        <div class="question-items">
            <ul>
                <li>
                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/question/telegramswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/question/viberswg.svg" alt=""></a>
                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/question/viberswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="whatsapp://send?phone=380678084224"><img src="../img/question/whatsapswg.svg" alt=""></a>
                </li>
            </ul>
            <span class="close">
            <img src="../img/question/greycrossswg.svg" alt="">
        </span>
        </div>
    </div>

    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Политика Конфиденциальности</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Безопасность информации платежной карты</a></li>
                </ul>
            </nav>
            <div class="footer-content">
                <div class="footer-left">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <a class="tel" href="tel:+380678084224">+38(067)808-42-24</a>
                    <a class="mail" href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-items">
                        <div class="footer-item">
                            <h3>С НАМИ НА <span>FACEBOOK</span></h3>
                            <a href="https://www.facebook.com/olga.litvinova.526" target="_blank"><img src="../img/footer-item-img1.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>YOUTUBE</span></h3>
                            <a href="http://www.youtube.com/c/PilatesOnline?sub_confirmation=1" target="_blank"><img src="../img/footer-item-img2.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>INSTAGRAM</span></h3>
                            <a href="https://www.instagram.com/litvinova.club/" target="_blank"><img src="../img/footer-item-img3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p>DEVELOPED IN 2016 | ALL RIGHTS RESERVED ©</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/contacts.min.js"></script>

    <script type="text/javascript">
        var submitted = false;
    </script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)
        {
            $('.popup-sencs1').addClass('active');
            $('.ss-q-short').each(function () {
                $(this).val('');
            });

            setTimeout(function () {
                $('.popup-sencs1').removeClass('active');
            }, 3000);

}"></iframe>

</body>

</html>