<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fitness-tv.css">
</head>

<body>

    <div class="video-popup loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <iframe id="popup1" src="" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
        </div>
    </div>

    <img src="../img/preview.jpg" alt="" style="display: none;">

    <div class="popup-sencs popup-sencs1 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
        </div>
    </div>

    <div class="popup-sencs popup-sencs2 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
            <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
        </div>
    </div>

    <header>
        <div class="header">
            <div class="container">
                <div class="header-content">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <nav class="menu">
                        <ul>
                            <li><a data-href="#what-included" href="index.html#what-included">О курсе</a></li>
                            <li><a data-href="#why-created" href="index.html#why-created">Методист</a></li>
                            <li><a data-href="#price" href="index.html#price">Стоимость</a></li>
                            <li><a data-href="#reviews" href="index.html#reviews">Отзывы</a></li>
                            <li><a data-href="#fag" href="index.html#fag">Вопрос-ответ</a></li>
                            <li><a data-href="" href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                        </li>
                    </ul>
                    <span class="manu-open">
                    <span></span>
                    </span>
                    <div class="main-menu loading">
                        <span class="main-close"></span>
                        <div class="main-content">
                            <div class="main-header">
                                <div class="logo-content">
                                    <a href="index.html" class="logo">
                                        <img src="../img/logo.png" alt="">
                                        <span>Международная школа пилатеса</span>
                                    </a>
                                </div>
                            </div>
                            <div class="fix-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html"><i class="icon-svg icon-home"></i> Главная</a></li>
                                        <li><a href="index.html"><i class="icon-svg icon-target"></i> Преимущества онлайн обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-customers"></i> Клиентам</a>
                                            <ul>
                                                <li><a href="index.html#what-included">О проекте</a></li>
                                                <li><a href="index.html#why-created">О методисте</a></li>
                                                <li><a href="javascript:void(0)">Как проходит обучение</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#price"><i class="icon-svg icon-packages"></i> Пакеты обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-archive"></i> Архив знаний</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                                <li><a href="javascript:void(0)">Зачем заниматься пилатесом</a></li>
                                                <li><a href="javascript:void(0)">Мифы и реальность в пилатесе</a></li>
                                                <li><a href="javascript:void(0)">Учимся правильно дышать</a></li>
                                            </ul>
                                        </li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-equipment"></i>Оборудование</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#reviews"><i class="icon-svg icon-reviews"></i> Отзывы</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-svg icon-contacts"></i> Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-footer">
                                <a href="fitness-tv.html" class="tv">Фитнес TV</a>
                                <ul class="sosial">
                                    <li>
                                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
        <div class="sale">
            <h5>15% скидка на все программы пилатеса студио</h5>
            <a href="info-sale.html">Подробнее</a>
        </div>
    </div> -->
    </header>

    <section class="fitness-tv following">
        <div class="container">
            <div class="offer">
                <ul>
                    <li>
                        <h2>Пилатес ТВ</h2>
                    </li>
                    <li>
                        <p>В этом разделе собраны мои бесплатные виде уроки по пилатесу</p>
                    </li>
                </ul>
            </div>
            <div class="vid-kont">
                <div class="video-box active">
                    <h3>Как правильно делать планку!</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/N5lFdei2Bec">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-38.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                    <span>Длительность <i> 00:44:21</i></span>
                </div>
                <div class="video-box active">
                    <h3>Тренировка на улице, комплекс упражнений на открытом воздухе.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/0d8VslPzPzY">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-37.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box active">
                    <h3>Как накачать пресс дома без оборудования!</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/Fp3V1Vh5os8">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-36.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box active">
                    <h3>Дыхательные упражнения для иммунитета!</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/yUy-L2UMJg8">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-35.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box active">
                    <h3>Суставная гимнастика. Упражнения, которые подходят всем!</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/6O6CTTmK1U4">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-34.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box active">
                    <h3>Пилатес с дисками. Упражнения с тарелками для пилатеса.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/a--Wb_aqsMY">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-33.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box active">
                    <h3>Пилатес с фитболом. Упражнения с малым мячом.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/LiVCjRsr0bI">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-32.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box active">
                    <h3>5 упражнений для спины!</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/EXrlysWGdeM">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-01.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с резиновой лентой.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/5BFihvB3D08">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-02.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с гимнастической палкой. Упражнения с бодибаром!</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/DQMGEcTu_bs">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-03.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Фоам Роллер. Тренировка с фоам роллером.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/w_zHIBuKDq8">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-04.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Тренировка с изотоническим кольцом для ягодиц.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/Aci0Ws_KCj8">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-05.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с фитболом.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/FM4DwKCGBRk">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-06.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с изотоническим кольцом.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/WWj7hlbqL0U">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-07.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес в паре.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/MvA5R7pHA7k">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-08.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес для начинающих.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/ICQaTOJD8Yk">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-09.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с мячем.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/2plB6lOX55U">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-10.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Как делать планку. Виды планки.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/OOHA7kc0ZAw">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-11.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Работа с доской Евминова.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/tbyEpr0mjGk">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-12.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес разминка.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/Qg6E0KFQmeA">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-13.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес для начинающих.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/XUFP3D1vNa0">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-14.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Как правильно делать планку.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/V7AQSwIj60I">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-15.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с резиновой лентой.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/ht5elk8Z8hA">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-16.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес - базовые упражнения.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/Gcn0ynxe_i8">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-17.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес разминка.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/LX5jRmPwUzs">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-18.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с фоам роллером.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/yLtDkd9DFCE">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-19.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес для детей.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/ekL_nOnJAnM">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-20.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с резиновым амортизатором.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/9YGxzwuW4ms">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-21.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес для спины.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/ySYcDiRC6RI">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-22.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес - персональная тренировка.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/bWGZPTqbQhs">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-23.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес для начинающих.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/N20LvJB6qWg">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-24.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес базовые упражнения.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/qAQB3HdJQ5Y">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-25.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес базовый.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/aS-tEMA6AfI">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-26.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес в паре.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/oZ4_shBW0A4">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-27.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Упражнения на профилакторе Евминова.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/pGh7BUOWg54">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-28.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Упражнения на профилакторе Евминова.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/m5ktOOzVMoM">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-29.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>Пилатес с мячем.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/1iaChuxagYI">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-30.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>
                <div class="video-box">
                    <h3>илатес для начинающих.</h3>
                    <div class="videocontent" data-iframe="https://www.youtube.com/embed/jRiGrH5UuHI">
                        <img class="ytube" src="../img/ytube.png" alt="">
                        <div class="img" style="background: url('../img/tv/tv-img-31.jpg') 50% 50% no-repeat; background-size: cover;"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="question">
        <div class="text">
            <img src="../img/equipment/hello.jpg" alt="">
            <i>Ольга</i>
            <span>Чем я могу вам помочь?</span>
        </div>
        <div class="question-icon">
            <img src="../img/question/questionswg.svg" alt="">
        </div>
        <div class="question-items">
            <ul>
                <li>
                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/question/telegramswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/question/viberswg.svg" alt=""></a>
                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/question/viberswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="whatsapp://send?phone=380678084224"><img src="../img/question/whatsapswg.svg" alt=""></a>
                </li>
            </ul>
            <span class="close">
            <img src="../img/question/greycrossswg.svg" alt="">
        </span>
        </div>
    </div>

    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Политика Конфиденциальности</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Безопасность информации платежной карты</a></li>
                </ul>
            </nav>
            <div class="footer-content">
                <div class="footer-left">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <a class="tel" href="tel:+380678084224">+38(067)808-42-24</a>
                    <a class="mail" href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-items">
                        <div class="footer-item">
                            <h3>С НАМИ НА <span>FACEBOOK</span></h3>
                            <a href="https://www.facebook.com/olga.litvinova.526" target="_blank"><img src="../img/footer-item-img1.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>YOUTUBE</span></h3>
                            <a href="http://www.youtube.com/c/PilatesOnline?sub_confirmation=1" target="_blank"><img src="../img/footer-item-img2.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>INSTAGRAM</span></h3>
                            <a href="https://www.instagram.com/litvinova.club/" target="_blank"><img src="../img/footer-item-img3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p>DEVELOPED IN 2016 | ALL RIGHTS RESERVED ©</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/readmore.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/fitness-tv.min.js"></script>
</body>

</html>