<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/info.css">
</head>

<body>

    <img src="../img/preview.jpg" alt="" style="display: none;">

    <div class="popup-sencs popup-sencs1 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
        </div>
    </div>

    <div class="popup-sencs popup-sencs2 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
            <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
        </div>
    </div>

    <header>
        <div class="header">
            <div class="container">
                <div class="header-content">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <nav class="menu">
                        <ul>
                            <li><a data-href="#what-included" href="index.html#what-included">О курсе</a></li>
                            <li><a data-href="#why-created" href="index.html#why-created">Методист</a></li>
                            <li><a data-href="#price" href="index.html#price">Стоимость</a></li>
                            <li><a data-href="#reviews" href="index.html#reviews">Отзывы</a></li>
                            <li><a data-href="#fag" href="index.html#fag">Вопрос-ответ</a></li>
                            <li><a data-href="" href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                        </li>
                    </ul>
                    <span class="manu-open">
                    <span></span>
                    </span>
                    <div class="main-menu loading">
                        <span class="main-close"></span>
                        <div class="main-content">
                            <div class="main-header">
                                <div class="logo-content">
                                    <a href="index.html" class="logo">
                                        <img src="../img/logo.png" alt="">
                                        <span>Международная школа пилатеса</span>
                                    </a>
                                </div>
                            </div>
                            <div class="fix-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html"><i class="icon-svg icon-home"></i> Главная</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-customers"></i> Клиентам</a>
                                            <ul>
                                                <li><a href="index.html#what-included">О проекте</a></li>
                                                <li><a href="index.html#why-created">О методисте</a></li>
                                                <li><a href="javascript:void(0)">Как проходит обучение</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#price"><i class="icon-svg icon-packages"></i> Пакеты обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-archive"></i> Архив знаний</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                                <li><a href="javascript:void(0)">Зачем заниматься пилатесом</a></li>
                                                <li><a href="javascript:void(0)">Мифы и реальность в пилатесе</a></li>
                                                <li><a href="javascript:void(0)">Учимся правильно дышать</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#reviews"><i class="icon-svg icon-reviews"></i> Отзывы</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-svg icon-contacts"></i> Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-footer">
                                <a href="fitness-tv.html" class="tv">Фитнес TV</a>
                                <ul class="sosial">
                                    <li>
                                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
        <div class="sale">
            <h5>15% скидка на все программы пилатеса студио</h5>
            <a href="info-sale.html">Подробнее</a>
        </div>
    </div> -->
    </header>

    <div class="wrapper">

        <div class="video-popup loading">
            <span class="cloze"></span>
            <span class="cloze-popup"></span>
            <div class="popup-content">
                <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <section class="info">
            <img src="../img/col2.png" alt="" class="col2">
            <div class="container">
                <h2>Спасибо, что выбрали мой воркшоп: <span>"Работа с оборудованием - "мини бол"</span></h2>
                <div class="info-content">
                    <div class="info-video">
                        <div class="video" data-src="https://www.youtube.com/embed/Srs-wkRXZMQ" style="background: url('../img/mini-ball/ball-invit.jpg') 50% 50% no-repeat; background-size: cover;">
                            <span class="play"></span>
                        </div>
                        <div class="text">
                            <p>Мой воркшоп поможет Вам приобрести навыки работы с маленьким мячом для пилатеса. Материал структурирован, содержит теоретическую и практическую часть. Отлично подойдёт для тренеров, преподающих пилатес в группах и персонально,
                                желающих расширить свои знания в работе с малым оборудованием, так же отлично подойдет для людей, занимающихся самостоятельно дома. Я раскрою вам все техники работы с мини болом простым и понятным языком.</p>
                            <p>В воркшопе раскрыты все ключевые моменты, после изучения данного материала вы с легкостью сможете повторить все на практике со своими группами в фитнес клубе.</p>
                            <p>Не упустите возможность научиться работе с мини болом для пилатеса, заниматься самостоятельно или работать со своим клиентам.</p>
                        </div>
                    </div>
                    <div class="course">
                        <div class="course-items">
                            <div class="course-item">
                                <p>Вы хотите научиться работать с <span>мини болом для пилатеса?</span></p>
                                <p>Теперь воркшоп "Работа с оборудованием - мини бол" доступен онлайн.</p>
                                <p>Длительность - <strong>70</strong> минут</p>
                            </div>
                            <div class="course-item">
                                <p>Вы не привязаны к месту и времени!</p>
                                <p>Пройдите обучение онлайн </p>
                                <p>в любое, удобное для вас время!</p>
                            </div>
                        </div>
                        <div class="form">
                            <h4>Приобрести воркшоп</h4>
                            <form action="https://docs.google.com/forms/d/e/1FAIpQLSeNohCN_7TcwYbhbacIiZmIRiZFlQvPeH9b-fwwZmrnha2vOQ/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
                                <div class="ss-form-question errorbox-good" role="listitem">
                                    <div dir="auto" class="ss-item ss-item-required ss-text">
                                        <div class="ss-form-entry">
                                            <label>Ваше Имя</label>
                                            <input type="text" name="entry.1199430464" value="" placeholder="Ф.И.О." class="ss-q-short" id="entry_1199430464" dir="auto" aria-label="Ваши Ф.И.О.  Ячейка должна содержать текст &quot;&quot;" aria-required="true" required="" pattern=".*.*" title="Ячейка должна содержать текст &quot;&quot;">
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-form-question errorbox-good" role="listitem">
                                    <div dir="auto" class="ss-item ss-item-required ss-text">
                                        <div class="ss-form-entry">
                                            <label>Ваш номер телефона</label>
                                            <input type="number" name="entry.433764109" value="" placeholder="Номер телефона" class="ss-q-short" id="entry_433764109" dir="auto" aria-label="Ваш номер телефона  Укажите допустимое число (больше 0)" aria-required="true" required="" step="any" title="Укажите допустимое число (больше 0)">
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-form-question errorbox-good" role="listitem">
                                    <div dir="auto" class="ss-item ss-item-required ss-text">
                                        <div class="ss-form-entry">
                                            <label>Ваш Емаил</label>
                                            <input type="email" name="entry.1786014081" value="" placeholder="Ваш E-Mail noname@*.*" class="ss-q-short" id="entry_1786014081" dir="auto" aria-label="Ваш E-Mail noname@*.*  Укажите действительный адрес эл. почты" aria-required="true" required="" title="Укажите действительный адрес эл. почты">
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none;" class="ss-form-question errorbox-good" role="listitem">
                                    <div dir="auto" class="ss-item  ss-text">
                                        <div class="ss-form-entry">
                                            <input type="text" name="entry.1908889258" value="Работа с оборудованием - мини бол" placeholder="Название курса" class="ss-q-short" id="entry_1908889258" dir="auto" aria-label="Название курса  " title="">
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-item ss-navigate">
                                    <div class="inline_block_ol_lm_end">
                                        <input type="submit" name="submit" value="ПЕРЕЙТИ НА СТРАНИЧКУ ОПЛАТЫ" id="ss-submit" class="jfk-button jfk-button-action ">
                                    </div>
                                </div>
                                <div class="kartinka">
                                    <h5>Оплатить воркшоп можно с помощью платежных систем:</h5>
                                    <ul>
                                        <li><img src="../img/mastercard-icon.png" alt=""></li>
                                        <li><img src="../img/fondy-icon.png" alt=""></li>
                                        <li><img src="../img/visa-icon.png" alt=""></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="text">
                            <p>Мой воркшоп поможет Вам приобрести навыки работы с маленьким мячом для пилатеса. Материал структурирован, содержит теоретическую и практическую часть. Отлично подойдёт для тренеров, преподающих пилатес в группах и персонально,
                                желающих расширить свои знания в работе с малым оборудованием, так же отлично подойдет для людей, занимающихся самостоятельно дома. Я раскрою вам все техники работы с мини болом простым и понятным языком.</p>
                            <p>В воркшопе раскрыты все ключевые моменты, после изучения данного материала вы с легкостью сможете повторить все на практике со своими группами в фитнес клубе.</p>
                            <p>Не упустите возможность научиться работе с мини болом для пилатеса, заниматься самостоятельно или работать со своим клиентам.</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../img/col.png" alt="" class="col">
        </section>

        <section class="learn">
            <div class="container">
                <div class="learn-content">
                    <h4>В ходе обучения вы получите:</h4>
                    <ul>
                        <li><span></span>
                            <p> Новые, практические знания в работе с оборудованием "мини бол".</p>
                        </li>
                        <li><span></span>
                            <p> Узнаете его особенности, возможности и варианты использования.</p>
                        </li>
                        <li><span></span>
                            <p> Научитесь правильно составлять програму тренировок в группе или с персональными клиентами.</p>
                        </li>
                        <li><span></span>
                            <p> Отработаете технику выполнения упражнений.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <div class="question">
        <span class="text">Задайте нам вопрос</span>
        <div class="question-icon">
            <img src="../img/question/questionswg.svg" alt="">
        </div>
        <div class="question-items">
            <ul>
                <li>
                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/question/telegramswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/question/viberswg.svg" alt=""></a>
                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/question/viberswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="whatsapp://send?phone=380678084224"><img src="../img/question/whatsapswg.svg" alt=""></a>
                </li>
            </ul>
            <span class="close">
            <img src="../img/question/greycrossswg.svg" alt="">
        </span>
        </div>
    </div>

    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Политика Конфиденциальности</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Безопасность информации платежной карты</a></li>
                </ul>
            </nav>
            <div class="footer-content">
                <div class="footer-left">
                    <h4>СТУДИЯ ПИЛАТЕСА</h4>
                    <p>Ольги Литвиновой</p>
                    <a class="tel" href="tel:+380678084224">+38(067)808-42-24</a>
                    <a class="mail" href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-items">
                        <div class="footer-item">
                            <h3>С НАМИ НА <span>FACEBOOK</span></h3>
                            <a href="https://www.facebook.com/olga.litvinova.526" target="_blank"><img src="../img/footer-item-img1.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>YOUTUBE</span></h3>
                            <a href="http://www.youtube.com/c/PilatesOnline?sub_confirmation=1" target="_blank"><img src="../img/footer-item-img2.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>INSTAGRAM</span></h3>
                            <a href="https://www.instagram.com/litvinova.club/" target="_blank"><img src="../img/footer-item-img3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p>DEVELOPED IN 2016 | ALL RIGHTS RESERVED ©</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/readmore.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/info.min.js"></script>
</body>

</html>