<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/oferta.css">
</head>

<body>

    <img src="../img/preview.jpg" alt="" style="display: none;">

    <div class="popup-sencs popup-sencs1 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
        </div>
    </div>

    <div class="popup-sencs popup-sencs2 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
            <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
        </div>
    </div>

    <header>
        <div class="header">
            <div class="container">
                <div class="header-content">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <nav class="menu">
                        <ul>
                            <li><a data-href="#what-included" href="index.html#what-included">О курсе</a></li>
                            <li><a data-href="#why-created" href="index.html#why-created">Методист</a></li>
                            <li><a data-href="#price" href="index.html#price">Стоимость</a></li>
                            <li><a data-href="#reviews" href="index.html#reviews">Отзывы</a></li>
                            <li><a data-href="#fag" href="index.html#fag">Вопрос-ответ</a></li>
                            <li><a data-href="" href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                        </li>
                    </ul>
                    <span class="manu-open">
                    <span></span>
                    </span>
                    <div class="main-menu loading">
                        <span class="main-close"></span>
                        <div class="main-content">
                            <div class="main-header">
                                <div class="logo-content">
                                    <a href="index.html" class="logo">
                                        <img src="../img/logo.png" alt="">
                                        <span>Международная школа пилатеса</span>
                                    </a>
                                </div>
                            </div>
                            <div class="fix-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html"><i class="icon-svg icon-home"></i> Главная</a></li>
                                        <li><a href="index.html"><i class="icon-svg icon-target"></i> Преимущества онлайн обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-customers"></i> Клиентам</a>
                                            <ul>
                                                <li><a href="index.html#what-included">О проекте</a></li>
                                                <li><a href="index.html#why-created">О методисте</a></li>
                                                <li><a href="javascript:void(0)">Как проходит обучение</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#price"><i class="icon-svg icon-packages"></i> Пакеты обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-archive"></i> Архив знаний</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                                <li><a href="javascript:void(0)">Зачем заниматься пилатесом</a></li>
                                                <li><a href="javascript:void(0)">Мифы и реальность в пилатесе</a></li>
                                                <li><a href="javascript:void(0)">Учимся правильно дышать</a></li>
                                            </ul>
                                        </li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-equipment"></i>Оборудование</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#reviews"><i class="icon-svg icon-reviews"></i> Отзывы</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-svg icon-contacts"></i> Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-footer">
                                <a href="fitness-tv.html" class="tv">Фитнес TV</a>
                                <ul class="sosial">
                                    <li>
                                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
        <div class="sale">
            <h5>15% скидка на все программы пилатеса студио</h5>
            <a href="info-sale.html">Подробнее</a>
        </div>
    </div> -->
    </header>

    <div class="wrapper">

        <section class="oferta">
            <div class="container">
                <h2>Публичная оферта о заключении Договора об оказании услуг</h2>
                <p>Физическое лицо Литвинов Игорь Викторович (далее — “Исполнитель”), зарегистрированный и действующий в соответствии с законодательством Украины, руководствуясь ст.ст. 633, 641 Гражданского кодекса Украины, предлагает неограниченному кругу
                    физических лиц, заключить настоящий Договор об оказании услуг (далее — “Договор”) на нижеуказанных условиях:</p>
                <h3>1. Термины и общие положения.</h3>
                <p>1.1. Услуги — набор консультационных услуг, оказываемых Исполнителем в порядке и на условиях, определенных настоящим Договором и Программами Курсов, которые является неотъемлемой частью настоящего Договора.</p>
                <p>1.2. Публичная оферта — предложение Исполнителя (изложенное на Сайте Исполнителя), адресованное неограниченному кругу физических лиц в соответствии с законодательством Украины, заключить настоящий Договор на определенных условиях.</p>
                <p>1.3. Cайт Исполнителя — веб-страница в сети Интернет по адресу <b>http://pilatesstudio.online/</b>, которая является официальным источником информирования Пользователей об Исполнителе и услугах, которые им предоставляются.</p>
                <p>1.4. Акцепт — полное, безусловное и безоговорочное принятие Пользователем условий Публичной оферты данного Договора и Программы соответствующего Курса.</p>
                <p>1.5. Пользователь — физическое лицо, достигшее 18-ти летнего возраста и совершившее Акцепт Публичной оферты Исполнителя, изложенной в настоящем Договоре, и оплатившее стоимость Услуг.</p>
                <p>1.6. Стороны — Исполнитель и Пользователь.</p>
                <p>1.7. Курс — выраженный в форме лекции (мастер-класс, тренинг) или аудиовизуального произведения (вебинар или онлайн-тренинг), комплекс консультационных услуг, направленных на передачу Клиенту информации по заданной теме с целью предоставления
                    ему возможности для формирования определенного представления о рассматриваемом предмете, а также выработку определенных навыков в исследуемой сфере деятельности.</p>
                <p>1.8. Программа Курса — детальные условия предоставления конкретной Услуги, включающие в себя, в том числе, но не исключительно, следующие условия:</p>
                <p>1.8.1. Название, предмет и содержание Курса, имена тренеров;</p>
                <p>1.8.2. Количество часов и/или расписание (график) Курса;</p>
                <p>1.8.3. Стоимость Курса.</p>
                <p>1.8.4. Порядок оплаты и т.д.</p>
                <p>1.9. Воспроизведение (скачивание) – такая форма доступа Пользователя к Курсу, при котором, осуществляется создание копии Курса в электронной (цифровой) форме с сохранением в памяти Устройств Пользователя или без такового.</p>
                <p>1.10. Устройство — означает электронную вычислительную машину (ЭВМ) и/или иное устройство, функционирующее по принципу ЭВМ, способное осуществлять обработку и воспроизведение звука и изображения, как стационарное, так и переносное (включая,
                    но, не ограничиваясь ими: мобильные телефоны, смартфоны, КПК, и др.), которое имеет возможность доступа к глобальной сети Интернет.</p>
                <h3>2. Предмет договора.</h3>
                <p>2.1. Исполнитель принимает на себя обязательства предоставить Пользователю консультационные услуги в сфере информационных технологий, а именно организацию прохождения Пользователем Курса обучения (тренинга) или мастер-класса (далее — “Курс”)
                    на платной основе, в соответствии с условиями настоящего Договора, а Пользователь обязуется принять и осуществить оплату таких Услуг.</p>
                <p>2.2. Пользователь обязуется оплатить Исполнителю стоимость Курса, который им приобретается.</p>
                <p>2.3. Стороны договорились, что детальное содержание (названия тем, формат, количество учебных часов или график занятий т.д.) Курса обучения (тренинга) соглашается Сторонами в Программе курса обучения (тренинга), которая размещается на
                    Сайте Исполнителя.</p>
                <p>2.4. Стороны соглашаются, что Исполнитель не гарантирует каких-либо финансовых или иных результатов применения Пользователем Курсов, приобретенных у Исполнителя, в своей деятельности.</p>
                <p>2.5. Никакие претензии по результативности применения Пользователем, полученных в результате прослушивания/просмотра Курсов, знаний и навыков, не могут быть предъявлены Исполнителю. Ответственность за использование этих знаний и навыков,
                    а также за любые результаты, прямые или побочные эффекты, полученные в результате использования этих знаний и навыков, целиком и полностью лежит на Пользователе.</p>
                <h3>3. Условия оказания услуг.</h3>
                <p>3.1. Консультационные услуги предоставляются в виде лекции (мастер-класс или тренинг) или в форме дистанционного воспроизведения Курса на Устройстве Пользователя (записи или прямой трансляции), в соответствии с учебным планом и расписанием
                    (графиком) занятий, разработанных Исполнителем и содержащихся в Программе Курса, размещенной в соответствующем разделе Сайта Исполнителя.</p>
                <p>3.2. Срок (график) обучения определяется в соответствии с Программой Курса.</p>
                <p>3.3. Акцептом настоящего Договора признается оплата Клиентом, полная или частичная, стоимости соответствующего Курса и означает полное и безоговорочное принятие Пользователем условий настоящего Договора и приравнивается к собственноручной
                    подписи Пользователя под Договором.</p>
                <p>3.4. С момента зачисления денежных средств на счет Исполнителя, настоящая оферта считается акцептированной, а договор заключенным.</p>
                <p>3.5. Порядок акцепта:</p>
                <p>3.5.1. Пользователь выбирает Курс на сайте Исполнителя и знакомится с условиями оплаты.</p>
                <p>3.5.2. После выбора необходимого Курса (-ов) Пользователь оформляет заявку на консультацию или сразу переходит в корзину и осуществляет оплату. </p>
                <p>3.5.3. Если Курс предоставляется в дистанционном формате (вебинар, онлайн-тренинг), то перед началом такого Курса Пользователь получает ссылку для доступа к этому Курсу, которая будет отправлена на электронный адрес, указанный Пользователем
                    при покупке Курса.</p>
                <p>3.5.5. С момента акцепта настоящей Оферты односторонний отказ Пользователя от Договора недопустим. </p>
                <p>3.5.6. Услуга считается оказанной с момента предоставления Исполнителем всей информации и выполнения всей программы, предусмотренных в соответствующей Программе Курса.</p>
                <h3>4. Права и обязанности Исполнителя:</h3>
                <p>4.1. Исполнитель имеет право:</p>
                <p>4.1.1. Получать от Пользователя информацию, необходимую для оказания услуг по настоящему Договору;</p>
                <p>4.1.2. Получить за предоставляемые услуги оплату в размерах и сроки, предусмотренные настоящим Договором и соответствующей Программой Курса.</p>
                <p>4.1.3. Отменять, прерывать или переносить любые Курсы, изменять их материалы, значение и вес любого задания, теста или экзамена.</p>
                <p>4.1.4. Публиковать любые материалы и отзывы, созданные Пользователем в процессе прохождения Курса, без каких-либо ограничений или компенсации со стороны Пользователя.</p>
                <h3>4.2. Исполнитель обязуется:</h3>
                <p>4.2.1. Предоставлять Пользователю консультационные услуги в объеме соответствии с настоящим Договором и соответствующей Программой Курса.</p>
                <p>4.2.2. Информировать Пользователя о правилах и требованиях по организации предоставления консультационных услуг, их качества и содержания, о правах и обязанностях Пользователя при получении услуг.</p>
                <p>4.2.3. Разработать учебный план, организовать проведение занятий;</p>
                <p>4.2.4. При необходимости обеспечить Пользователя учебно-методическими материалами и литературой.</p>
                <p>4.2.5. Выдать электронный сертификат об окончании Курса обучения, который будет храниться на сайте Исполнителя на протяжении 60 (шестидесяти) календарных дней после окончания Курса. Пользователь вправе самостоятельно распечатать такой
                    сертификат.</p>
                <h3>5. Права и обязанности Пользователя.</h3>
                <p>5.1. Пользователь имеет право:</p>
                <p>5.1.1. Получить Услуги надлежащего качества в соответствии с Программой Курса.</p>
                <p>5.1.2. При условии успешного прохождения курса обучения получить Сертификат о его окончании.</p>
                <h3>5.2. Пользователь обязуется:</h3>
                <p>5.2.1. Добросовестно учиться по программе, посещать теоретические и практические занятия, не пропускать их без уважительных причин.</p>
                <p>5.2.2. Выполнять домашние задания в рамках прохождения Курса, в соответствии с указаниями Исполнителя и/или его представителей, и в сроки указанные ими.</p>
                <p>5.2.3. Своевременно вносить плату за Услуги в размерах и в сроки, установленные настоящим Договором и Программой Курса.</p>
                <p>5.2.4. Выполнять требования законодательства Украины и требования Договора по организации предоставления Услуг.</p>
                <p>5.2.5. Воздержаться в процессе прохождения Курса от действий, которые:</p>
                <p>5.2.5.1. могут воспрепятствовать другим Пользователям, приглашенным лицам или лекторам принимать участие в Курсе и получать информацию в процессе проведения Курса.</p>
                <p>5.2.5.2. могут привести к повреждению имущества других пользователей, приглашенных лиц, лекторов или Исполнителя, собственников или пользователей помещения, в котором проводится Курс.</p>
                <p>5.2.5.3. нарушают общественный порядок, в том числе обижают присутствующих, выражаются в использовании нецензурных выражений и/или громких разговоров, создании шума с помощью устройств и т.д.</p>
                <p>5.2.5.4. унижают честь, достоинство, деловую репутацию Исполнителя, других пользователей, приглашенных лиц или лекторов, в том числе путем размещения информации в сети Интернет, печатных изданиях, рассылках или другим способом, который
                    имеет публичный характер.</p>
                <p>5.2.5.5. проявляются в использовании аудио- или видео-аппаратуры с целью копирования материалов Курса или без таковой.</p>
                <p>5.2.6. В случае, если это предусмотрено Программой Курса — сдать итоговый внутренний тест (экзамен).</p>
                <h3>Стоимость услуг и порядок оплаты.</h3>
                <p>6.1. Общая стоимость услуг, оказанная Пользователю по настоящему Договору составляет общую сумму оплаченных Пользователем Курсов.</p>
                <p>6.2. Стоимость конкретного Курса определяется Исполнителем в Программе Курса, которая размещается на Сайте Исполнителя или же сообщается менеджером компании Исполнителя лично клиенту.</p>
                <p>6.3. Стоимость предусмотренных настоящим Договором Услуг оплачивается Пользователем в безналичной форме, путем перечисления на текущий счет Исполнителя или при помощи оплаты на сайте.</p>
                <p>6.4. Исполнитель имеет право не возвращать средства уплаченные Пользователем за обучение, если Пользователь прослушал более чем одно занятие Курса и отказался от Услуг.</p>
                <p>6.5. В случае досрочного прекращения действия Договора по инициативе Исполнителя — Исполнитель возвращает средства только за те занятия Курса, которые не были проведены Исполнителем. Проведенные занятия Курса в таком случае не компенсируются.</p>
                <p>6.6. В случае если Пользователь отказывается от обучения до начала Курса, Исполнитель возвращает уплаченный аванс в полном объеме. В случае оплаты всей суммы — 100% стоимости Договора Пользователю возвращаются средства в сумме 50% от уплаченных
                    средств.</p>
                <p>6.7. Размер оплаты устанавливается за весь срок прохождения Курса и не может изменяться.</p>
                <h3> 7. Ответственность Сторон.</h3>
                <p>7.1. За неисполнение или ненадлежащее исполнение обязательств по настоящему договору стороны несут ответственность в соответствии с действующим законодательством Украины.</p>
                <p>7.2. Услуги исполнителя и все связанные материалы предоставляются «как есть», без явных или подразумеваемых гарантий. Исполнитель не предоставляет никаких гарантий, в том числе коммерческой пригодности, пригодности для определенных целей
                    и не нарушения прав третьих лиц, а также гарантий, вытекающих из деловых отношений или обычаев делового оборота. Кроме того, исполнитель отказывается от ответственности, связанной с доступом пользователя к услугам и связанным материалам,
                    а также с их использованием. Пользователь соглашается с тем, что осуществляет доступ к услугам и связанным материалам и использует их на собственный риск.</p>
                <p>7.3. В максимально разрешенной законодательством Украины мере Исполнитель не несёт ответственности за непрямые, побочные, фактические, косвенные или прямые убытки, прямо или косвенно упущенную выгоду или неполучение доходов, потерю данных,
                    эксплуатационных качеств, гудвила или других нематериальных ценностей, связанные а) с доступом Пользователя к Услугам и их использованием либо невозможностью такого доступа или использования; б) с материалами или поведением, в том
                    числе позорящим, оскорбительным или незаконным, любой третьей стороны; или в) с несанкционированным доступом, использованием или изменением материалов Пользователя или информации. Ни при каких обстоятельствах сумма совокупной ответственности
                    по всем претензиям относительно услуг не может превышать большей из двух следующих сумм: двадцати долларов сша (20 долл. Сша) или общей суммы, полученной от Пользователя за использование платных услуг в течение последних шести месяцев.</p>
                <p>7.4. Пользователь соглашается, что отказ от гарантий и ограничение ответственности, изложенные в данных условиях, отражают разумное и справедливое распределение рисков, а также являются необходимым условием для предоставления услуг Исполнителем
                    за доступную плату.</p>
                <p>7.5. Пользователь соглашается, что любой иск, связанный с Услугами, должен быть передан в суд в течение срока исковой давности в размере одного (1) года после возникновения оснований для него, в противном случае такое основание считается
                    недействительным.</p>
                <p>7.6. Пользователь соглашается с тем, что в случае несоблюдения Пользователем п. 5.2.3 настоящего Договора, касающегося обязанности вносить оплату своевременно, Исполнитель вправе не только приостановить оказание услуг и доступ к Курсу
                    до момента совершения оплаты, но и прекратить настоящий Договор на основании п. 9.1.3 настоящего Договора.</p>
                <p>7.7. В случае нарушения Пользователем п. 12.1 настоящего Договора и использования материалов курса не в личных целях, распространения материалов Курса в любой способ и вне зависимости от круга лиц, Исполнитель вправе расторгнуть настоящий
                    Договор в одностороннем порядке, заблокировать пользователю доступ к Курсу и/или сайту, без возврата уплаченных Пользователем за Курс денежных средств.</p>
                <h3>8. Форс-мажор.</h3>
                <p>8.1. Стороны освобождаются от ответственности за неисполнение обязательств, если это неисполнение вызвано обстоятельствами, которые не зависят от воли Сторон, а именно: военными действиями, стихийными бедствиями, техногенными и другими
                    авариями, забастовками, локаутами, актами органов власти или управления и т.д., что делает невозможным выполнение условий настоящего Договора (далее Форс-мажор).</p>
                <p>8.2. Форс-мажор применяется, и Сторона, для которой он наступил освобождается от ответственности за нарушение условий настоящего Договора, при наличии письменного подтверждения (заключение, справка) Торгово-промышленной палаты Украины
                    о наступлении форс-мажора.</p>
                <p>8.3. Сторона, для которой наступил Форс-мажор, обязуется немедленно уведомить другую Сторону и предоставить подтверждающие Форс-мажор документы.</p>
                <p>8.4. С момента получения такого уведомления другой стороной выполнение условий данного Договора приостанавливаются на весь период действия Форс-мажора.</p>
                <p>8.5. В случае действия Форс-мажорных обстоятельств более 3 месяцев каждая из сторон имеет право инициировать прекращение Договора.</p>
                <h3>9. Прекращение Договора.</h3>
                <p>9.1. Действие настоящего Договора прекращается:</p>
                <p>9.1.1. По соглашению сторон;</p>
                <p>9.1.2. Если выполнение Стороной Договора своих обязательств невозможно в связи с принятием нормативно-правовых актов, которые изменили условия, установленные данным Договором, и любая из Сторон не соглашается о внесении изменений в Договор.</p>
                <p>9.1.3. В случаях нарушения Пользователем условий, предусмотренных п.п. 5.2.3, 5.2.4, 5.2.5, 12.1 настоящего Договора.</p>
                <p>9.1.4. В других случаях, предусмотренных настоящим Договором и действующим законодательством Украины.</p>
                <p>9.2. Действие договора приостанавливается в случае отказа всей группы от прохождения Курса, вместе с которой Пользователь проходит данный Курс.</p>
                <h3>10. Обработка персональных данных.</h3>
                <p>10.1. Пользователь подтверждает, что добровольно и безвозмездно предоставляет согласие на обработку своих персональных данных (включая фамилию, имя и отчество, зарегистрированное место проживание и/или фактическое место проживание, идентификационный
                    номер, данные о государственной регистрации; банковские реквизиты, номера телефонов и адреса электронной почты, и т.д.) в базе персональных данных Исполнителя “Клиенты”, в том числе на сбор, регистрацию, включение в базу данных, накопление,
                    хранение, адаптацию, изменение, обновление, использование, распространение (распространение, передачу), обезличивание, уничтожение персональных данных в базе данных на территории Украины с целью выполнения обязательств по этому договору
                    и с целью обеспечения реализации налоговых отношений, хозяйственных отношений, гражданско-правовых отношений и отношений в сфере бухгалтерского учета. Пользователь дает согласие на передачу своих персональных данных третьим лицам в
                    минимально необходимых объемах и только в целях выполнения обязательств по настоящему Договору, которые соответствуют объективной причине сбора соответствующих данных.</p>
                <p>10.2. Пользователь подтверждает, что ему было сообщено о его правах, определенных Законом Украины «О защите персональных данных» от 1 июня 2010 № 2297-VI, с изменениями и дополнениями, цель обработки и сбора персональных данных.</p>
                <h3>11. Срок действия Оферты.</h3>
                <p>11.1. Настоящая Публичная оферта вступает в силу с момента ее размещения на Сайте Исполнителя и действует до момента ее отзыва Исполнителем.</p>
                <p>11.2. Исполнитель вправе в любое время внести изменения в условия Оферты и/или отозвать Оферту в любой момент по своему усмотрению. В случае внесения Исполнителем изменений в Оферту, такие изменения вступают в силу с момента размещения
                    измененного текста Оферты на Сайте Исполнителя, если иной срок вступления изменений в силу не определен непосредственно в тексте измененной Оферты. </p>
                <h3>12. Интеллектуальная собственность.</h3>
                <p>12.1. Исполнитель предоставляет Пользователю ограниченную, персональную, неисключительную, непередаваемую и отзывную лицензию на использование Услуг и любых материалов либо информации, полученных в процессе Курса или на Сайте. Материалы
                    и любую информацию, предоставляемые в рамках Услуг или на Сайте, Пользователь можно использовать только для личного некоммерческого использования, за исключением случаев, когда Пользователь получил письменное разрешение Исполнителя
                    на их использование в других целях.</p>
                <p>12.2. Пользователь соглашается создать и использовать только один аккаунт и не передавать третьим лицам доступ или учетные данные для доступа к нему.</p>
                <p>12.3. Использование Услуг не дает Пользователю права материальной или интеллектуальной собственности на используемые Услуги или материалы.</p>
                <p>12.4. Вместе с материалами, создаваемыми в процессе прохождения Курса, Пользователь предоставляет Исполнителю полностью передаваемую, безвозмездную, бессрочную, сублицензируемую, неисключительную, всемирную лицензию на копирование, распространение,
                    изменение, публичное распространение и воспроизведение материалов Пользователя, а также на создание производных работ и использование в других целях.</p>
                <p>12.5. Указанная в п. 12.4 данного Договора лицензия дает Исполнителю право предоставлять материалы Пользователя другим Пользователям, которые в дальнейшем будут приобретать Услуги Исполнителя. Данное условие не ограничивает другие юридические
                    права Исполнителя на материалы Пользователя, например по другим лицензиям. Исполнитель имеет право удалять или изменять материалы Пользователя по любой причине, в том числе если, на взгляд Исполнителя, они не соответствуют Договору.</p>
                <h3>13. Заключительные положения.</h3>
                <p>13.1. Стороны установили, что любые споры и претензии будут разрешаться сторонами путем переговоров.</p>
                <p>13.2. Стороны осознают, что Услуги предоставляются Исполнителем, который зарегистрирован и действует по законодательству Украины, место проживания которого также зарегистрировано в Украине.</p>
                <p>13.3. Учитывая п. 12.2. данного Договора, местом совершения данной сделки и местом оказания Услуг Стороны договорились считать место проживания Исполнителя, указанное в ст. 14 данного Договора.</p>
                <p>13.4. Акцептируя данную Оферту Пользователь соглашается, что все споры, связанные с данным Договором, будут рассматриваться в соответствии с законодательством Украины без учета норм коллизионного права. Пользователь также соглашается,
                    что все такие споры находятся в исключительной компетенции судов Украины.</p>
                <p>13.5. Заголовки, используемые в статьях и пунктах настоящей Оферты, используются только для ссылок и удобства пользования текстом. Данные заголовки не могут рассматриваться как определяющие, ограничивающие или изменяющие, или влияющие
                    на значение и смысл условий настоящей Оферты или её любой части. </p>
                <p>13.6. Если какое-то из положений настоящей Оферты будет признано недействительным, то действительность её остальных положений от этого не утрачивается.</p>
                <p>13.7. Во всех случаях, не предусмотренных настоящей Офертой, Стороны руководствуются действующим законодательством Украины.</p>
                <h3>14. Реквизиты Исполнителя.</h3>
                <p class="fut">Исполнитель: Физическое лицо Литвинов Игорь Викторович
                    <br> ИНН: 2849812679
                    <br> Контактный телефон: +38 (097) 809-42-24</p>
            </div>
        </section>

    </div>

    <div class="question">
        <div class="text">
            <img src="../img/equipment/hello.jpg" alt="">
            <i>Ольга</i>
            <span>Чем я могу вам помочь?</span>
        </div>
        <div class="question-icon">
            <img src="../img/question/questionswg.svg" alt="">
        </div>
        <div class="question-items">
            <ul>
                <li>
                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/question/telegramswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/question/viberswg.svg" alt=""></a>
                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/question/viberswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="whatsapp://send?phone=380678084224"><img src="../img/question/whatsapswg.svg" alt=""></a>
                </li>
            </ul>
            <span class="close">
            <img src="../img/question/greycrossswg.svg" alt="">
        </span>
        </div>
    </div>

    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Политика Конфиденциальности</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Безопасность информации платежной карты</a></li>
                </ul>
            </nav>
            <div class="footer-content">
                <div class="footer-left">
                    <h4>СТУДИЯ ПИЛАТЕСА</h4>
                    <p>Ольги Литвиновой</p>
                    <a class="tel" href="tel:+380678084224">+38(067)808-42-24</a>
                    <a class="mail" href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-items">
                        <div class="footer-item">
                            <h3>С НАМИ НА <span>FACEBOOK</span></h3>
                            <a href="https://www.facebook.com/olga.litvinova.526" target="_blank"><img src="../img/footer-item-img1.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>YOUTUBE</span></h3>
                            <a href="http://www.youtube.com/c/PilatesOnline?sub_confirmation=1" target="_blank"><img src="../img/footer-item-img2.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>INSTAGRAM</span></h3>
                            <a href="https://www.instagram.com/litvinova.club/" target="_blank"><img src="../img/footer-item-img3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p>DEVELOPED IN 2016 | ALL RIGHTS RESERVED ©</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/readmore.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/info.min.js"></script>
</body>

</html>