<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/payment.css">
</head>

<body>

    <section class="payment">
        <div class="payment-content">
            <h3>Выберите способ оплаты:</h3>
            <div class="content">
                <ul>
                    <li><a href="https://api.fondy.eu/s/PiTa" target="_blank">1290 RUB (Российский рубль)</a></li>
                    <li><a href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTE5MTE0NDcxNjc0IiwiYW1vdW50IjoiNDk5IiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6IldvcmNzaG9wOiDQotC10YXQvdC40LrQsCDRgNCw0LHQvtGC0Ysg0YEg0LjQt9C%2B0YLQvtC90LjRh9C10YHQutC40Lwg0LrQvtC70YzRhtC%2B0LwiLCJ0eXBlIjoiYnV5IiwicmVzdWx0X3VybCI6Imh0dHA6Ly9wYXlyaW5nLnBpbGF0ZXNzdHVkaW8ub25saW5lLyIsImxhbmd1YWdlIjoicnUifQ%3D%3D&signature=a0PPx7jUOYrNeG53IMnl0t1uJms%3D"
                        target="_blank">499 UAH (Украинская гривна)</a></li>
                    <li><a href="https://api.fondy.eu/s/n2sgsPWPms" target="_blank">20 USD (Доллар США)</a></li>
                    <li><a href="https://api.fondy.eu/s/KCu4sRoQIsNdoiC" target="_blank">18 EUR (Евро)</a></li>
                </ul>
                <p>После оплаты в течении 10-15 минут материалы курса придут на указанную Вами почту. Вам станет доступна страница личного кабинета, в котором материал структурирован по сессиям и одинаково удобен для изучения с мобильного, планшета и настольного
                    компьютера.
                </p>
            </div>
            <div class="text">
                <p>После прохождения курса вам будет выслан онлайн тест и сертификат.</p>
            </div>
            <div class="sosial">
                <p>Есть вопросы по оплате?</p>
                <ul>
                    <li>
                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                    </li>
                    <li>
                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                    </li>
                    <li>
                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                    </li>
                    <li>
                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/payment.min.js"></script>
</body>

</html>