<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/training-code.css">
</head>

<body>

    <img src="../img/preview.jpg" alt="" style="display: none;">

    <div class="popup-sencs popup-sencs1 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
        </div>
    </div>

    <div class="popup-sencs popup-sencs2 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
            <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
        </div>
    </div>

    <header>
        <div class="header">
            <div class="container">
                <div class="header-content">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <a class="fit-tv" href="javascript:void(0)">Фитнес ТВ</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper">

        <div class="video-popup loading">
            <span class="cloze"></span>
            <span class="cloze-popup"></span>
            <div class="popup-content">
                <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <section class="info">
            <!-- <img src="../img/col2.png" alt="" class="col2"> -->
            <div class="container">
                <h2>Воркшоп: <span>Инструктор по стретчингу.</span><strong>Обучающий воркшоп Ольги Литвиновой</strong></h2>
                <div class="info-content">
                    <div id="responsiveTabsDemo">
                        <ul>
                            <li>
                                <a href="#tab-1"> <span>ТЕОРИЯ</span></a>
                            </li>
                            <li>
                                <a href="#tab-2"> <span>ПРАКТИКА 01</span></a>
                            </li>
                            <li>
                                <a href="#tab-3"> <span>ПРАКТИКА 02</span></a>
                            </li>
                        </ul>
                        <div id="tab-1">
                            <div class="info-video">
                                <div class="video" data-src="https://www.youtube.com/embed/0pEQzS9-nG8?rel=0&amp;showinfo=0" style="background: url('../img/Stretching/str_cover_teory.jpg') 50% 50% no-repeat; background-size: cover;">
                                    <span class="play"></span>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2">
                            <div class="info-video">
                                <div class="video" data-src="https://www.youtube.com/embed/3ogaSDQE_fw?rel=0&amp;showinfo=0" style="background: url('../img/Stretching/str_cover_teory_pr01.jpg') 50% 50% no-repeat; background-size: cover;">
                                    <span class="play"></span>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3">
                            <div class="info-video">
                                <div class="video" data-src="https://www.youtube.com/embed/uNelSuupXIs?rel=0&amp;showinfo=0" style="background: url('../img/Stretching/str_cover_teory_pr02.jpg') 50% 50% no-repeat; background-size: cover;">
                                    <span class="play"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="link">
                        <!-- <li><a target="_blank" href="https://drive.google.com/drive/folders/1bUj9XPCqDRTtp8EltGjTqDAKfr14dLdN?usp=sharing">ДОПОЛНИТЕЛЬНЫЕ МАТЕРИАЛЫ КУРСА</a></li> -->
                        <li><a href="https://drive.google.com/drive/u/5/folders/1cUhCH9K-fvcxYnyA9LWHFxvDNEREtTtT" target="_blank">СКАЧАТЬ МУЗЫКУ ДЛЯ ТРЕНИРОВОК</a></li>
                    </ul>
                </div>
            </div>
            <!-- <img src="../img/col.png" alt="" class="col"> -->
        </section>

        <section class="learn">
            <div class="container">
                <div class="learn-content">
                    <h4>Вам, так же, могут быть интересны курсы:</h4>
                    <ul>
                        <li><span></span>
                            <p><a href="javascript:void(0)">Курс: Инструктор по пилатесу</a></p>
                        </li>
                        <li><span></span>
                            <p><a href="javascript:void(0)">Воркшоп: Работа с изотоническим кольцом</a></p>
                        </li>
                        <li><span></span>
                            <p><a href="javascript:void(0)">Воркшоп: Пилатес для беременных</a></p>
                        </li>
                        <li><span></span>
                            <p><a href="javascript:void(0)">Курс: Инстаграм для тренера</a></p>
                        </li>
                        <li><span></span>
                            <p><a href="javascript:void(0)">Программа питания на 30 дней</a></p>
                        </li>
                    </ul>
                </div>
                <div class="form">
                    <h4>Напишите отзыв об этом курсе) <span>Мне важно Ваше мнение:</span></h4>
                    <form action="https://docs.google.com/forms/d/e/1FAIpQLScP3Pgnl6LuXsCUJVLiHAuQZi2xr4OmrBdhQhrLdFuAeJZ4HQ/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <label>Ваше Имя</label>
                                    <input type="text" name="entry.119998773" value="" class="ss-q-short" id="entry_119998773" dir="auto" aria-label="Ваше имя  Ячейка должна содержать текст &quot;&quot;" aria-required="true" required="" pattern=".*.*" title="Ячейка должна содержать текст &quot;&quot;">
                                </div>
                            </div>
                        </div>
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-select">
                                <div class="ss-form-entry">
                                    <label>Какой воркшоп Вы прошли</label>
                                    <select name="entry.1820370265" id="entry_1820370265" aria-label="Какой воркшоп Вы прошли  " aria-required="true" required="" class="required">
                                        <option value="" disabled selected style='display:none;'>Какой воркшоп вы прошли?</option>
                                        <option value="Пилатес во время беременности">Пилатес во время беременности</option>
                                        <option value="Инструктор по Стетчингу">Инструктор по Стетчингу</option>
                                        <option value="Инструктор по пилатесу">Инструктор по пилатесу</option>
                                        <option value="Работа с изотоническим кольцом">Работа с изотоническим кольцом</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-paragraph-text">
                                <div class="ss-form-entry">
                                    <label>Ваш отзыв об онлай курсе:</label>
                                    <textarea name="entry.1807247930" rows="8" cols="0" class="ss-q-long" id="entry_1807247930" dir="auto" aria-label="Чего не хватает в нашем воркшопе  " aria-required="true" required=""></textarea>
                                    <div class="error-message" id="373399871_errorMessage"></div>
                                </div>
                            </div>
                        </div>

                        <div class="ss-item ss-navigate">
                            <div class="inline_block_ol_lm_end">
                                <input type="submit" name="submit" value="Отправить" id="ss-submit" class="jfk-button jfk-button-action ">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

    <div class="question">
        <span class="text">Задайте нам вопрос</span>
        <div class="question-icon">
            <img src="../img/question/questionswg.svg" alt="">
        </div>
        <div class="question-items">
            <ul>
                <li>
                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/question/telegramswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/question/viberswg.svg" alt=""></a>
                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/question/viberswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="whatsapp://send?phone=380678084224"><img src="../img/question/whatsapswg.svg" alt=""></a>
                </li>
            </ul>
            <span class="close">
            <img src="../img/question/greycrossswg.svg" alt="">
        </span>
        </div>
    </div>

    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Политика Конфиденциальности</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Безопасность информации платежной карты</a></li>
                </ul>
            </nav>
            <div class="footer-content">
                <div class="footer-left">
                    <h4>СТУДИЯ ПИЛАТЕСА</h4>
                    <p>Ольги Литвиновой</p>
                    <a class="tel" href="tel:+380678084224">+38(067)808-42-24</a>
                    <a class="mail" href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-items">
                        <div class="footer-item">
                            <h3>С НАМИ НА <span>FACEBOOK</span></h3>
                            <a href="https://www.facebook.com/olga.litvinova.526" target="_blank"><img src="../img/footer-item-img1.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>YOUTUBE</span></h3>
                            <a href="http://www.youtube.com/c/PilatesOnline?sub_confirmation=1" target="_blank"><img src="../img/footer-item-img2.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>INSTAGRAM</span></h3>
                            <a href="https://www.instagram.com/litvinova.club/" target="_blank"><img src="../img/footer-item-img3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p>DEVELOPED IN 2016 | ALL RIGHTS RESERVED ©</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.responsiveTabs.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/training-code.min.js"></script>

    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)
        {
            $('.popup-sencs1').addClass('active');
            $('.ss-q-short').each(function () {
                $(this).val('');
            });
            $('.ss-q-long').each(function () {
                $(this).val('');
            });

            setTimeout(function () {
                $('.popup-sencs1').removeClass('active');
            }, 3000);

}"></iframe>

</body>

</html>