<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/ten-reasons.css">
</head>

<body>

    <img src="../img/preview.jpg" alt="" style="display: none;">

    <div class="popup-sencs popup-sencs1 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
        </div>
    </div>

    <div class="popup-sencs popup-sencs2 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
            <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
        </div>
    </div>

    <header>
        <div class="header">
            <div class="container">
                <div class="header-content">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <nav class="menu">
                        <ul>
                            <li><a data-href="#what-included" href="index.html#what-included">О курсе</a></li>
                            <li><a data-href="#why-created" href="index.html#why-created">Методист</a></li>
                            <li><a data-href="#price" href="index.html#price">Стоимость</a></li>
                            <li><a data-href="#reviews" href="index.html#reviews">Отзывы</a></li>
                            <li><a data-href="#fag" href="index.html#fag">Вопрос-ответ</a></li>
                            <li><a data-href="" href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                        </li>
                    </ul>
                    <span class="manu-open">
                    <span></span>
                    </span>
                    <div class="main-menu loading">
                        <span class="main-close"></span>
                        <div class="main-content">
                            <div class="main-header">
                                <div class="logo-content">
                                    <a href="index.html" class="logo">
                                        <img src="../img/logo.png" alt="">
                                        <span>Международная школа пилатеса</span>
                                    </a>
                                </div>
                            </div>
                            <div class="fix-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html"><i class="icon-svg icon-home"></i> Главная</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-customers"></i> Клиентам</a>
                                            <ul>
                                                <li><a href="index.html#what-included">О проекте</a></li>
                                                <li><a href="index.html#why-created">О методисте</a></li>
                                                <li><a href="javascript:void(0)">Как проходит обучение</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#price"><i class="icon-svg icon-packages"></i> Пакеты обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-archive"></i> Архив знаний</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                                <li><a href="javascript:void(0)">Зачем заниматься пилатесом</a></li>
                                                <li><a href="javascript:void(0)">Мифы и реальность в пилатесе</a></li>
                                                <li><a href="javascript:void(0)">Учимся правильно дышать</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#reviews"><i class="icon-svg icon-reviews"></i> Отзывы</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-svg icon-contacts"></i> Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-footer">
                                <a href="fitness-tv.html" class="tv">Фитнес TV</a>
                                <ul class="sosial">
                                    <li>
                                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
        <div class="sale">
            <h5>15% скидка на все программы пилатеса студио</h5>
            <a href="info-sale.html">Подробнее</a>
        </div>
    </div> -->
    </header>

    <section class="wrapper">
        <img src="../img/col-2.png" alt="" class="col-2">
        <h2>Как дышать. Тренировка дыхания!</h2>
        <div class="ten-reasons">
            <div class="container clearfix">
                <div class="resp">
                    <p>Дыхание – первое действие, которое мы совершаем после появления на свет, позволяющее нам поддерживать достаточное количество кислорода в крови. Кислород питает ткани и клетки, давая им возможность обновляться, участвует во всех основных
                        химических реакциях, обеспечивает обмен веществ. Правильное дыхание - это залог здоровья.</p>
                    <p>В жизни, большинство из нас дышит не «полной грудью», а поверхностно, используя только верхнюю часть легких. В сочетании с двигательными привычками, такими, как округление живота, поднятие плеч, задержки дыхания, легкие плохо вентилируются
                        и обменные процессы в органах протекают менее эффективно.</p>
                    <p>Ваша задача – научиться дышать ровно и глубоко, это позволит ускорить замедленные процессы. Правильное дыхание будет задействовать весь объем легких, уберет лишнее мышечное напряжение и снижая стресс.</p>
                    <p>С древних времен люди занимаясь дыхательными практиками и различными физическими упражнениями, чтобы сделать себя здоровее и спокойнее. Джозеф Пилатес в своей системе восстановления естественного баланса в теле, внимательно изучал
                        процесс дыхания. Пилатес говорил: <b>«Дыхание – это первое и последнее действие в жизни, вся она зависит от него, и поэтому необходимо учиться 
                    дышать правильно»</b>.</p>
                </div>
                <div class="img-kont">
                    <img src="../img/pagecontent/breath-one.jpg" alt="">
                </div>
            </div>
            <div class="container other-text">
                <p> Правильное дыхание – один из основных принципов системы пилатес, тренер обратит на это ваше внимание с первого же занятия. На первой тренировке вам скажут дышать ровно, не задерживать вдох-выдох, а когда вы запомните технику упражнений,
                    вам нужно будет выполнять их в полной зависимости от дыхания: вы будете подстраивать не дыхание под движение, а наоборот. Вы будете тренироваться в ритме собственного дыхания.</p>

            </div>
        </div>
        <div class="ten-reasons">
            <div class="container clearfix">
                <h3>Принцип дыхания в пилатесе состоит из двух частей: боковое (реберное) дыхание и ритмичное дыхание:</h3>
                <div class="img-kont-two">
                    <img src="../img/pagecontent/breath-two.jpg" alt="">
                </div>
                <div class="resp-two">
                    <h3 class="redround">Боковое дыхание</h3>
                    <p>pпозволяет осуществлять глубокий вдох, сохраняя при этом мышцы центра силы напряженными – это значит, что эти мышцы не будут мешать вам правильно дышать. Дыхание происходит в верхней части корпуса, тогда как нижняя и центральная находятся
                        в силовой работе. Эта модель дыхания отличается от привычной, брюшной, в которой при вдохе диафрагма опускается, а живот выпячивается, поэтому ее сложнее всего освоить, но она необходима в тренировке для сохранения контроля над
                        телом и стабильности в поясничном отделе позвоночника. Из собственного опыта скажу, большинство из тех, кто начинал тренироваться, при втягивании живота не напрягают мышцы малого таза, а поднимают диафрагму и плечи, задерживая
                        дыхание, что приводит к перенапряжению.</p>
                    <h3 class="redround">Ритмичное дыхание</h3>
                    <p>взаимосвязь дыхания и движения. Основное правило этой техники - выполняйте вдох при подготовке к движению и выдох при самом движении. Смысл в том, чтобы не было задержек дыхания и перенапряжения. Выдох на сложном моменте упражнения
                        помогает всего этого избежать. Ритмичное дыхание поможет создать ваш собственный ритм выполнения упражнений.</p>
                </div>
            </div>
            <div class="container other-text-two">
                <p>Задача тренировки дыхания - научиться управлять мышцами груди и спины. Это упростит процесс расширения грудной клетки. Не забывайте о вытягивании позвоночника вверх, за макушкой, это позволит ребрам полноценно раскрываться во время вдоха.
                    Делайте вдох легко и естественно. Обратите внимание на возможность легкого головокружения. Начинающим лучше практиковаться сидя.
                </p>
                <p>Изменения будут усваиваться легче и проходить комфортней, если вы будете делать все спокойно и плавно. Не торопите себя во время занятий.</p>
                <p>Во время тренировки не задерживайте дыхание, вдыхайте плавно и глубоко, в комфортном ритме, выдох на напряжении, вдох на расслаблении. Не включайте мышцы малого таза в процесс дыхания, не говоря уже о других частях тела. Плечи не должны
                    подниматься, живот не должен выпячиваться, только ребра, расходящиеся в стороны. Дышите именно грудью, как будто внутри надувается воздушный шарик, а на бедрах при этом застегнут тугой ремень.</p>
                <h3>Вот несколько упражнений, которые помогут вам понять, что такое боковое дыхание и какие мышцы для него использовать.</h3>
            </div>
        </div>
        <div class="ten-reasons">
            <div class="container clearfix">
                <div class="resp">
                    <p class="redroundp">Сядьте на стул или пол, оберните длинным полотенцем спину и ребра. Возьмите концы полотенца спереди и слегка натяните их. Сделайте вдох и почувствуйте, как ребра натягивают полотенце по бокам. На выдохе можно ещё сильнее натянуть полотенце,
                        чтобы помочь легким полностью избавиться от воздуха. Грудная клетка при этом может слегка подниматься, но живот должен оставаться напряженным. Не помогайте дыханию животом.</p>
                    <p class="redroundp">Еще одно упражнение для расслабления, вытягивающее позвоночник и вентилирующее легкие, отлично подходит для завершения тренировки. Исходное положение – «кошка», встаньте на колени и на ладони. Если в этом положении дискомфортно, можно
                        лечь, свернувшись калачиком, на боку или положить под колени что-то мягкое. Сделайте глубокий вдох, выдыхая, медленно сядьте ягодицами на пятки. Округляйте спину, плечи и шею не напрягайте, затем необходимо вытянуть руки вперед
                        и расслабиться, дышите спиной вверх. Попробуйте с каждым выдохом вытягивать руки вперед на несколько миллиметров.</p>
                    <p class="redroundp">Также попробуйте это упражнение лежа, положите руки на нижние ребра. Вдыхайте полной грудью, пока не почувствуете легкое расширение грудной клетки в стороны. На глубоком выдохе сдуйте и сомкните грудную клетку и расслабьте лопатки.</p>
                </div>
                <div class="img-kont">
                    <img src="../img/pagecontent/breath-three.jpg" alt="">
                </div>
            </div>
            <div class="container other-text">
                <p class="redroundp">Встаньте ровно, положите ладони на ребра сзади, пальцы направьте к ягодицам. Вдыхайте и выдыхайте глубоко, почувствуйте расширение ребер и спины.</p>
                <p> Джозеф Пилатес сказал: «Даже если вы не выполняете никаких других моих рекомендаций, правильно дышать вы обязаны все равно». Поначалу будет трудно, но постепенно, с практикой, вы научитесь получать удовольствие от дыхания полной грудью.
                    Это позволит вам достичь нужного для пилатеса уровня контроля и концентрации. Во время тренировки не отвлекаетесь на насущные дела, а сосредоточьтесь только на себе, это даст вам уверенность, спокойствие и радость. Это и есть концепция
                    «разумного тела» — Mind Body.</p>
            </div>
        </div>
        <section class="learn">
            <div class="container">
                <div class="learn-content">
                    <h4>В нашей онлайн школе вы можете <span>обучаться пилатесу онлайн</span> по следующим направлениям:</h4>
                    <ul>
                        <li><span></span>
                            <p><a href="javascript:void(0)"> Расширенный курс: «Инструктор по пилатесу»</a></p>
                        </li>
                        <li><span></span>
                            <p><a href="javascript:void(0)"> Workshop: «Техника работы с изотоническим кольцом»</a></p>
                        </li>
                        <li><span></span>
                            <p><a href="javascript:void(0)"> Workshop: «Пилатес во время беременности»</a></p>
                        </li>
                        <li><span></span>
                            <p><a href="javascript:void(0)"> Workshop: «Инструктор: по стретчингу»</a></p>
                        </li>
                        <li><span></span>
                            <p>
                                <a href="javascript:void(0)"> </a>Workshop: «Работа с резиновым амортизатором»</p>
                        </li>
                        <li><span></span>
                            <p>
                                <a href="javascript:void(0)"> </a>Workshop: «Работа с оборудованием: минибол»</p>
                        </li>
                        <li><span></span>
                            <p>
                                <a href="javascript:void(0)"> </a>Workshop: «Работа с оборудованием: фитбол»</p>
                        </li>
                        <li><span></span>
                            <p>
                                <a href="javascript:void(0)"> </a>Workshop: «Работа с фоам роллером»</p>
                        </li>
                    </ul>
                </div>
                <div class="learn-img">
                    <img src="../img/learn-img.png" alt="">
                    <div class="links">
                        <ul class="sosial">
                            <li>
                                <a href="tel:+380678084224"><img src="../img/red-icon1.png" alt=""></a>
                            </li>
                            <li>
                                <a href="viber://add?number=380678084224" class="mob"><img src="../img/red-icon2.png" alt=""></a>
                                <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/red-icon2.png" alt=""></a>
                            </li>
                            <li>
                                <a href="whatsapp://send?phone=380678084224"><img src="../img/red-icon3.png" alt=""></a>
                            </li>
                            <li>
                                <a href="tg://resolve?domain=onlinepilates"><img src="../img/red-icon4.png" alt=""></a>
                            </li>
                        </ul>
                        <a class="contact-link" href="javascript:void(0)">СВЯЖИТЕСЬ СО МНОЙ</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div class="question">
        <span class="text">Задайте нам вопрос</span>
        <div class="question-icon">
            <img src="../img/question/questionswg.svg" alt="">
        </div>
        <div class="question-items">
            <ul>
                <li>
                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/question/telegramswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/question/viberswg.svg" alt=""></a>
                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/question/viberswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="whatsapp://send?phone=380678084224"><img src="../img/question/whatsapswg.svg" alt=""></a>
                </li>
            </ul>
            <span class="close">
            <img src="../img/question/greycrossswg.svg" alt="">
        </span>
        </div>
    </div>

    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Политика Конфиденциальности</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Безопасность информации платежной карты</a></li>
                </ul>
            </nav>
            <div class="footer-content">
                <div class="footer-left">
                    <h4>СТУДИЯ ПИЛАТЕСА</h4>
                    <p>Ольги Литвиновой</p>
                    <a class="tel" href="tel:+380678084224">+38(067)808-42-24</a>
                    <a class="mail" href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-items">
                        <div class="footer-item">
                            <h3>С НАМИ НА <span>FACEBOOK</span></h3>
                            <a href="https://www.facebook.com/olga.litvinova.526" target="_blank"><img src="../img/footer-item-img1.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>YOUTUBE</span></h3>
                            <a href="http://www.youtube.com/c/PilatesOnline?sub_confirmation=1" target="_blank"><img src="../img/footer-item-img2.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>INSTAGRAM</span></h3>
                            <a href="https://www.instagram.com/litvinova.club/" target="_blank"><img src="../img/footer-item-img3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p>DEVELOPED IN 2016 | ALL RIGHTS RESERVED ©</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/readmore.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/info.min.js"></script>
</body>

</html>