<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/price.css">
</head>

<body>

    <section id="price" class="price">
        <div class="price-content">
            <div class="slider-price">
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_major.png" alt="" class="desc">
                                <img src="../img/mob_sale_major.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Онлайн курс: «Инструктор по пилатесу»</h4>
                                <span>Длительность 360 минут</span>
                                <ul>
                                    <li>Полный 6-ти часовой курс обучения</li>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Построение тренировки</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Сертификат о прохождении курса!</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>2690</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="2690" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="110" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="100" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="6830" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_ring.png" alt="" class="desc">
                                <img src="../img/mob_sale_ring.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Workshop: «Техника работы с изотоническим кольцом»</h4>
                                <span>-------------</span>
                                <ul>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Построение тренировки</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>499</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="499" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="20" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="18" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="1290" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_pren.png" alt="" class="desc">
                                <img src="../img/mob_sale_pren.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Workshop: «Пилатес во время беременности»</h4>
                                <span>-------------</span>
                                <ul>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>399</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="399" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="16" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="15" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="1030" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_strech.png" alt="" class="desc">
                                <img src="../img/mob_sale_strech.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Workshop: «Инструктор: Стретчинг»</h4>
                                <span>-------------</span>
                                <ul>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>379</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="379" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="15" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="14" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="970" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_minibol.png" alt="" class="desc">
                                <img src="../img/mob_sale_minibol.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Workshop: «Работа с оборудованием: минибол»</h4>
                                <span>Длительность 70 минут</span>
                                <ul>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>399</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="399" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="16" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="15" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="1010" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_fitbol.png" alt="" class="desc">
                                <img src="../img/mob_sale_fitbol.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Workshop: «Работа с оборудованием: фитбол»</h4>
                                <span>Длительность 85 минут</span>
                                <ul>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>319</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="319" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="13" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="12" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="829" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_roll.png" alt="" class="desc">
                                <img src="../img/mob_sale_roll.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Workshop: «Работа с фоам роллером»</h4>
                                <span>Длительность 100 минут</span>
                                <ul>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>449</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="449" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="16" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="15" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="1279" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>ВЫБЕРИ СВОЙ ПАКЕТ ОБУЧЕНИЯ</h2>
                    <div class="price-item">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <div class="item">
                            <div class="img">
                                <img src="../img/desck_sale_band.png" alt="" class="desc">
                                <img src="../img/mob_sale_band.jpg" alt="" class="mob">
                            </div>
                            <div class="text">
                                <h4>Workshop: «Работа с резиновым амортизатором»</h4>
                                <span>Длительность 85 минут</span>
                                <ul>
                                    <li>Теоретическая часть</li>
                                    <li>Практическая часть</li>
                                    <li>Доступ к записям сессий навсегда</li>
                                    <li>Персональные консультации с методистом</li>
                                    <li>Музыка для тренировок в подарок</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="buy-content">
                                <ul class="price-sum">
                                    <li class="uan"><strong>420</strong> <span>UAH</span></li>
                                </ul>
                                <a class="buy" href="javascript:void(0)">КУПИТЬ</a>
                            </div>
                            <ul class="currency">
                                <li data-sun="420" data-currency="UAH" class="active"><a href="javascript:void(0)">UAH</a></li>
                                <li data-sun="16" data-currency="USD"><a href="javascript:void(0)">USD</a></li>
                                <li data-sun="15" data-currency="EUR"><a href="javascript:void(0)">EUR</a></li>
                                <li data-sun="1190" data-currency="RUB"><a href="javascript:void(0)">RUB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>УЗНАТЬ БОЛЬШЕ О ПРОЕКТЕ</h2>
                    <div class="price-item price-final">
                        <a class="lick" href="javascritp:void(0)"></a>
                        <img src="../img/price-modile.png" alt="">
                        <div class="sum-final">
                            <p>перейти на сайт проекта</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price_count"></div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jquery.animateNumber.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/price.min.js"></script>

</body>

</html>