<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reviews.css">
</head>

<body>

    <img src="../img/preview.jpg" alt="" style="display: none;">

    <div class="popup-sencs popup-sencs1 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
        </div>
    </div>

    <div class="popup-sencs popup-sencs2 loading">
        <span class="cloze"></span>
        <div class="popup-content">
            <span class="cloze-popup"></span>
            <h3>Спасибо</h3>
            <p>Ваша информация внесена в базу</p>
            <span>В ближайшее время мы свяжемся с вами</span>
            <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
        </div>
    </div>

    <header>
        <div class="header">
            <div class="container">
                <div class="header-content">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <nav class="menu">
                        <ul>
                            <li><a data-href="#what-included" href="index.html#what-included">О курсе</a></li>
                            <li><a data-href="#why-created" href="index.html#why-created">Методист</a></li>
                            <li><a data-href="#price" href="index.html#price">Стоимость</a></li>
                            <li><a data-href="#reviews" href="index.html#reviews">Отзывы</a></li>
                            <li><a data-href="#fag" href="index.html#fag">Вопрос-ответ</a></li>
                            <li><a data-href="" href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                        </li>
                    </ul>
                    <span class="manu-open">
                    <span></span>
                    </span>
                    <div class="main-menu loading">
                        <span class="main-close"></span>
                        <div class="main-content">
                            <div class="main-header">
                                <div class="logo-content">
                                    <a href="index.html" class="logo">
                                        <img src="../img/logo.png" alt="">
                                        <span>Международная школа пилатеса</span>
                                    </a>
                                </div>
                            </div>
                            <div class="fix-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html"><i class="icon-svg icon-home"></i> Главная</a></li>
                                        <li><a href="index.html"><i class="icon-svg icon-target"></i> Преимущества онлайн обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-customers"></i> Клиентам</a>
                                            <ul>
                                                <li><a href="index.html#what-included">О проекте</a></li>
                                                <li><a href="index.html#why-created">О методисте</a></li>
                                                <li><a href="javascript:void(0)">Как проходит обучение</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#price"><i class="icon-svg icon-packages"></i> Пакеты обучения</a></li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-archive"></i> Архив знаний</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                                <li><a href="javascript:void(0)">Зачем заниматься пилатесом</a></li>
                                                <li><a href="javascript:void(0)">Мифы и реальность в пилатесе</a></li>
                                                <li><a href="javascript:void(0)">Учимся правильно дышать</a></li>
                                            </ul>
                                        </li>
                                        <li class="drow">
                                            <a href="javascript:void(0)"><i class="icon-svg icon-equipment"></i>Оборудование</a>
                                            <ul>
                                                <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#reviews"><i class="icon-svg icon-reviews"></i> Отзывы</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-svg icon-contacts"></i> Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-footer">
                                <a href="fitness-tv.html" class="tv">Фитнес TV</a>
                                <ul class="sosial">
                                    <li>
                                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
        <div class="sale">
            <h5>15% скидка на все программы пилатеса студио</h5>
            <a href="info-sale.html">Подробнее</a>
        </div>
    </div> -->
    </header>

    <section class="reviews">
        <img src="../img/reviews-wave.jpg" alt="" class="reviews-wave">
        <div class="container">
            <div class="title">
                <h2>ОТЗЫВЫ НАШИХ КЛИЕНТОВ</h2>
                <p>Хочу сказать огромное спасибо!!! За такое крутое обучение! Год назад я занималась в этом направлении</p>
                <ul class="sosial">
                    <li>
                        <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                    </li>
                    <li>
                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                    </li>
                    <li>
                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                    </li>
                    <li>
                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                    </li>
                    <li>
                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="reviews-content">
                <img src="../img/reviews-img.png" alt="" class="reviews-img">
                <div class="reviews-slider">
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/ekaterina-beribze.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Екатерина Беридзе! (Россия)</h4>
                                    <p>Огромное спасибо! Курс очень понятный. Всё по полочкам. Дополнительные навыки на время карантина лучшее времяпрепровождение и вложение))). Спасибо. Было интересно. </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/s_abramova.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Панфилова Светлана! (Россия)</h4>
                                    <p>Хочу сказать огромное спасибо!!! За такое крутое обучение! Год назад я занималась в этом направлении и даже преподавала! Но в тот момент я думала, что я знаю все! Но не тут то было! Узнала много нового. Очень доступно
                                        и интересно преподнесен материал! После такого онлайн обучения хочется попасть к Вам лично и достигать новых вершин! Курс очень интересный, хочется слушать и слушать! Приятно смотреть и слушать такого тренера! Стройная,
                                        красивая, приветливая! Спасибо еще раз! В следующий раз обязательно пойду обучение по другим Вашим направлениям! Успехов Вам во всех делах и начинаниях!
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/yana_shamtsyan.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Яна Шамцян (Россия)</h4>
                                    <p>Я давно пользуюсь методом пилатеса, но всегда интересно узнавать что-то новое, или повторить старое! И моя интуиция меня не подвела, и я из разнообразия услуг обучения выбрала курс Ольги Литвиновой! Подача материала
                                        доступна, понятна! Большое спасибо за обучение, за открытое отношения к людям! Да это чувствуется через экран телефона.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/irina_novikova.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Новикова Ирина! (Україна)</h4>
                                    <p>Рада була пройти курс інструктора з пілатесу в Школі Ольги Літвінової. Курс насичений, інтенсивний, вправи показано професійно і якісно, розібрано всі нюанси тренерської роботи. Приємно було отримати бонуси - воркшопи
                                        зі стретчингу та роботи з ізокільцем - ці компетенції дуже стають в пригоді! Щиро дякую Ользі Літвіновій та її команді за цей курс.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/glukhova-irina.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Ирина Глухова! (Россия)</h4>
                                    <p>Xочу поблагодарить Ольгу за курс. Понравилось то, что в курсе все понятно и доступно. Исчерпывающая информация о дыхании, в практической части подробно разъяснена техника выполнения упражнений и на что нужно обращать
                                        внимание. На все мои вопросы, сразу же быстро поступали ответы, и Оля все подробно мне разъясняла, описывала во всех деталях что бы мне было понятно. Это я называю профессионал своего дела. Не каждый все подробно
                                        расскажет и объяснит. И формат обучения очень удобен, если что-то непонятно, можно пересмотреть, прослушать и отработать на практике. Оле я желаю новых свершений в своей профессиональной деятельности и удачи во
                                        всем.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/Olga_Borisevich.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Ольга Борисевич! (Украина)</h4>
                                    <p>Курс отличный. Все очень понятно, доступно до мелочей как, в теории так и в практике. После прохождения курса Pilates online с методистом Ольгой Литвиновой я стала более уверенным в себе тренером. Еще раз СПАСИБО! Ольга
                                        Литвинова СУПЕР-тренер, СУПЕР методист!!! И обаятельная девушка. В курсе учтены все нюансы до самых мелочей, про все тонкости работы с клиентами на тренировке. Все доступно рассказано и показано на практике.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/Svetlana-Abramova.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Светлана Абрамова! (Россия)</h4>
                                    <p>Курсом осталась очень довольна, много полезного материала, всё понятно, никаких вопросов не осталось. Спасибо Ольге за обучение!</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/Denisova_Julia.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Денисова Юлия! (Россия)</h4>
                                    <p>Хочу сказать огромное спасибо!!! За такое крутое обучение! Год назад я занималась в этом направлении и даже преподавала! Но в тот момент я думала, что я знаю все! Но не тут то было! Узнала много нового. Очень доступно
                                        и интересно преподнесен материал! После такого онлайн обучения хочется попасть к Вам лично и достигать новых вершин! Курс очень интересный, хочется слушать и слушать! Приятно смотреть и слушать такого тренера! Стройная,
                                        красивая, приветливая! Спасибо еще раз! В следующий раз обязательно пойду обучение по другим Вашим направлениям! Успехов Вам во всех делах и начинаниях!
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/Marika_Gabelia.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Маричка Габелия! (Грузия)</h4>
                                    <p>Ольга, Ваш курс был удовольствием! Вы очень четко, красиво и интересно передаете все о пилатесе, ваш голос очень приятный, а все видео уроки грамотно составлены. Сапсибо Вам за такую возможность исполнить мою мечту
                                        стать тренером по пилатесу)</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/alina_novachenko.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Алина Новаченко! (Украина)</h4>
                                    <p>Я тренер по направлению Pilates в сети фитнес клубов "Малибу", веду как взрослые так и детские группы. До того, как начать свою тренерскую карьеру я несколько лет посещала групповые занятия Оли Литвиновой. Благодаря
                                        её тренировкам я не только привела своё тело в хорошее физическое состояние, но и избавилась от проблем со здоровьем. На её тренировках всегда интересно, душевно и весело. Весной 2016г я прошла обучающий курс по
                                        Pilates. Обучение проходило очень интересно. Весь материал излагался доступно и понятно. Оля говорила где и на что обращать внимание, чтоб упражнения приносили max положительный результат. Не один вопрос не остался
                                        без внимания, начиная с правильного дыхания и до техники выполнения упражнений. Теоретическая часть сразу отрабатывалась и закреплялась на практике! Даже после обучения Ольга не оставляет своих учеников без внимания.
                                        В любой момент можно обратится к ней за советом и консультацией. Хочу выразить огромную благодарность за интересное обучение и поддержку, и пожелать новых достижений!
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/Marina_Nesnova.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Марина Неснова! (Украина)</h4>
                                    <p>Олечка, я очень-очень рада нашему знакомству! В жизни ты еще более открытая и очень приятная в общении, ты своей влюбленностью в спорт притягиваешь, как магнит))) Спасибо тебе за это! Побольше бы таких людей! Все что
                                        ты рассказывала, легко и понятно ложилось в понимание. Ты открыла космос простыми словами. Что называется, "доступно о сложном"! Я под таким впечатлением, что хочется скорей бежать и применять то, что раньше толькл
                                        манило своей неизвестностью, а теперь стало понятным и простым! И вообще, в твоем окружении так легко, что,мне кажется, я даже стала гармоничнее, спокойнее, уверенней! Спасибо тебе огромное! Только не сочти все
                                        за лесть. Я искренне делюсь своими ощущениями!)</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/Yulia_filchackova.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Юлия Фильчакова! (Украина)</h4>
                                    <p>Я очень благодарна “Международной школе пилатеса” за качественное и профессиональное обучение. Ольга, благодаря вам я уже начала превращать свое хобби в профессию. Полученная во время обучения информация бесценна, так
                                        как охватывает все аспекты, необходимые начинающему тренеру: от особенностей профессиональной этики, детального обзора костно-мышечной системы и нюансов работы с клиентами разных групп до полноценных планов тренировок,
                                        которые можно применять в своей практике. Спасибо за предельно понятные и полезные советы и грамотное объяснение материала.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/sinkin_alexey.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Алексей Синькин! (Россия)</h4>
                                    <p>Я работаю фельдшером. Участвую в проекте «Московское долголетие» занимаюсь с участниками пенсионного возраста лечебной физкультурой. Времени на поездки для повышения знаний практически нет. Решил поискать видео на просторах
                                        интернета и случайно увидел онлайн курсы по пилатесу. Изначально не решался приобрести, но почитав отзывы в инстаграм и фейсбук решился пройти обучение. И не пожалел потраченных денег и времени. Курс интересный,
                                        особенно практическое обучение. Все подробно и доходчиво изложено. Изначально возникали вопросы, но походу продвижения вопросы улетучились сами собой. Спасибо организатору и методисту проекта Ольге Литвиновой!!!
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/alina-golonko.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Аліна Гольонко (Украина)</h4>
                                    <p>Дякую велике вам за курс, мені все сподобалося, а саме подача матеріалу, теорія і практика грамотно, чітко пояснена, без лишньої води все професійно і приємно візуально, Ви Ольго велика молодець і профисионал своєї
                                        справи, вам успіхів і великих цілей, балансу і гармонії в вашій професії а також в житті. Дуже приємно було в спілкуванні завжди був зворотній зв'язок. Дякую велике! Ще дуже круто, що цьому всьому можна навчитися
                                        не виходячи з дому, що для мене було актуально.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/daria-govor.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Дарья Говор (Украина)</h4>
                                    <p>Добрый день. Ольга, хочу поблагодарить Вас за возможность интересного обучения онлайн. Курс по пилатесу понравился. Информативно и компактно изложена теоретическая часть, что не маловажно)) В практическом разделе достаточно
                                        подробно указаны правила выполнения упражнений. Понравились сравнения и объяснения, которые Вы даёте, для правильной постройки тела. Спасибо! </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/nadechka_chadeeva.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Чадеева Надежда (Беларусь)</h4>
                                    <p>Ура, прошла курс и все воркшопы. И это лучшее, что я когда-либо проходила и приобретала. Все структурировано, не нужно заучивать упражнения, с каждым объяснением и пониманием того, что делаешь оно само запоминается.
                                        Теперь я не только осознанно выполняю, но и преподаю с осознанностью и концентрацией. Тренер - просто пример для подражания и мотивации. Ее труд - ее вид. Очень часто приходилось перематывать, потому что засматривалась
                                        на пресс))) А во время карантина это лучшее вложение средств вдвойне. Продукт продуман до мелочей. Хочу пожелать успехов Вашей команде</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/olga_shelomitskaia.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Шеломицкая Ольга. Россия.</h4>
                                    <p>Рада, что прошла онлайн курс Ольги Литвиновой - Инструктор По Пилатесу!!! Получила интересующую меня информацию, не только теорию, но и увидела все на практике! Ольга не только обладает знаниями в сфере пилатеса и делится
                                        ими, но и является сама отличным примером того, каким может быть тело человека благодаря регулярным тренировкам- красивая, стройная, подтянутая))) Отдельная благодарность за поддержку, информирование, ответы на
                                        вопросы!!! Благодарю и желаю удачи)</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews-item">
                            <img src="../img/review/natalia_pyanko.jpg" alt="">
                            <div class="text">
                                <article class="example">
                                    <h4>Наталья Пьянко! Россия.</h4>
                                    <p>Спасибо за Ваш курс «Инструктор по пилатес» все очень доступно, а главное в удобное для меня время, потому что есть в записи. Спасибо большое за воркшоп в подарок, очень много полезной информации. Успехов Вашему проекту
                                        и самых лучших клиентов)</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews_count"></div>
            </div>
        </div>
    </section>

    <div class="question">
        <div class="text">
            <img src="../img/equipment/hello.jpg" alt="">
            <i>Ольга</i>
            <span>Чем я могу вам помочь?</span>
        </div>
        <div class="question-icon">
            <img src="../img/question/questionswg.svg" alt="">
        </div>
        <div class="question-items">
            <ul>
                <li>
                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/question/telegramswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/question/viberswg.svg" alt=""></a>
                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/question/viberswg.svg" alt=""></a>
                </li>
                <li>
                    <a href="whatsapp://send?phone=380678084224"><img src="../img/question/whatsapswg.svg" alt=""></a>
                </li>
            </ul>
            <span class="close">
            <img src="../img/question/greycrossswg.svg" alt="">
        </span>
        </div>
    </div>

    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Политика Конфиденциальности</a></li>
                    <li><a href="javascript:void(0)" target="_blank">Безопасность информации платежной карты</a></li>
                </ul>
            </nav>
            <div class="footer-content">
                <div class="footer-left">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                        <span>Международная школа пилатеса</span>
                    </a>
                    <a class="tel" href="tel:+380678084224">+38(067)808-42-24</a>
                    <a class="mail" href="mailto:pilatesonline777@gmail.com">pilatesonline777@gmail.com</a>
                    <ul class="sosial">
                        <li>
                            <a href="tel:+380678084224"><img src="../img/icon5.png" alt=""></a>
                        </li>
                        <li>
                            <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon6.png" alt=""></a>
                            <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon6.png" alt=""></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?phone=380678084224"><img src="../img/icon7.png" alt=""></a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon8.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-items">
                        <div class="footer-item">
                            <h3>С НАМИ НА <span>FACEBOOK</span></h3>
                            <a href="https://www.facebook.com/olga.litvinova.526" target="_blank"><img src="../img/footer-item-img1.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>YOUTUBE</span></h3>
                            <a href="http://www.youtube.com/c/PilatesOnline?sub_confirmation=1" target="_blank"><img src="../img/footer-item-img2.jpg" alt=""></a>
                        </div>
                        <div class="footer-item">
                            <h3>С НАМИ В <span>INSTAGRAM</span></h3>
                            <a href="https://www.instagram.com/litvinova.club/" target="_blank"><img src="../img/footer-item-img3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p>DEVELOPED IN 2016 | ALL RIGHTS RESERVED ©</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.expandable.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/reviews.min.js"></script>


</body>

</html>