<img src="../img/preview.jpg" alt="" style="display: none;">

<div class="popup-sencs popup-sencs1 loading">
    <span class="cloze"></span>
    <div class="popup-content">
        <span class="cloze-popup"></span>
        <h3>Спасибо</h3>
        <p>Ваша информация внесена в базу</p>
        <span>В ближайшее время мы свяжемся с вами</span>
    </div>
</div>

<div class="popup-sencs popup-sencs2 loading">
    <span class="cloze"></span>
    <div class="popup-content">
        <span class="cloze-popup"></span>
        <h3>Спасибо</h3>
        <p>Ваша информация внесена в базу</p>
        <span>В ближайшее время мы свяжемся с вами</span>
        <a href="https://www.pilatesstudio.online/">Вернуться на главную</a>
    </div>
</div>

<header>
    <div class="header">
        <div class="container">
            <div class="header-content">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png" alt="">
                    <span>Международная школа пилатеса</span>
                </a>
                <nav class="menu">
                    <ul>
                        <li><a data-href="#what-included" href="index.html#what-included">О курсе</a></li>
                        <li><a data-href="#why-created" href="index.html#why-created">Методист</a></li>
                        <li><a data-href="#price" href="index.html#price">Стоимость</a></li>
                        <li><a data-href="#reviews" href="index.html#reviews">Отзывы</a></li>
                        <li><a data-href="#fag" href="index.html#fag">Вопрос-ответ</a></li>
                        <li><a data-href="" href="contacts.html">Контакты</a></li>
                    </ul>
                </nav>
                <ul class="sosial">
                    <li>
                        <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                    </li>
                    <li>
                        <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                        <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                    </li>
                    <li>
                        <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                    </li>
                    <li>
                        <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                    </li>
                </ul>
                <span class="manu-open">
                    <span></span>
                </span>
                <div class="main-menu loading">
                    <span class="main-close"></span>
                    <div class="main-content">
                        <div class="main-header">
                            <div class="logo-content">
                                <a href="index.html" class="logo">
                                    <img src="../img/logo.png" alt="">
                                    <span>Международная школа пилатеса</span>
                                </a>
                            </div>
                        </div>
                        <div class="fix-menu">
                            <nav>
                                <ul>
                                    <li><a href="index.html"><i class="icon-svg icon-home"></i> Главная</a></li>
                                    <li class="drow">
                                        <a href="javascript:void(0)"><i class="icon-svg icon-customers"></i> Клиентам</a>
                                        <ul>
                                            <li><a href="index.html#what-included">О проекте</a></li>
                                            <li><a href="index.html#why-created">О методисте</a></li>
                                            <li><a href="javascript:void(0)">Как проходит обучение</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="index.html#price"><i class="icon-svg icon-packages"></i> Пакеты обучения</a></li>
                                    <li class="drow">
                                        <a href="javascript:void(0)"><i class="icon-svg icon-archive"></i> Архив знаний</a>
                                        <ul>
                                            <li><a href="javascript:void(0)">Что такое пилатес</a></li>
                                            <li><a href="javascript:void(0)">Зачем заниматься пилатесом</a></li>
                                            <li><a href="javascript:void(0)">Мифы и реальность в пилатесе</a></li>
                                            <li><a href="javascript:void(0)">Учимся правильно дышать</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="index.html#reviews"><i class="icon-svg icon-reviews"></i> Отзывы</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-svg icon-contacts"></i> Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="main-footer">
                            <a href="fitness-tv.html" class="tv">Фитнес TV</a>
                            <ul class="sosial">
                                <li>
                                    <a href="tel:+380678084224"><img src="../img/icon1.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="viber://add?number=380678084224" class="mob"><img src="../img/icon2.png" alt=""></a>
                                    <a href="viber://chat?number=+380678084224" class="desc"><img src="../img/icon2.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="whatsapp://send?phone=380678084224"><img src="../img/icon3.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="tg://resolve?domain=onlinepilates"><img src="../img/icon4.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="sale">
            <h5>15% скидка на все программы пилатеса студио</h5>
            <a href="info-sale.html">Подробнее</a>
        </div>
    </div> -->
</header>